<div class="top-navbar bg-light border-bottom fixed-top justify-content-between" [ngClass]="{ 'sidebar-open': isMenuOpen }">

    <div class="sidebar-logo d-flex d-lg-none flex-row-reverse flex-lg-row align-items-center justify-content-center">

        <a class="header-logo" routerLink="/pages/dashboard">

            <img src="/assets/images/logo.png" class="img-fluid rounded-normal light-logo" alt="logo" (error)="logImgErrorHandling()">
            
        </a>

        <div class="menu-bt-sidebar justify-content-start justify-content-lg-end">

            <i class="bi bi-list wrapper-menu" (click)="isMenuOpen = !isMenuOpen; menuEvent.emit(isMenuOpen);"></i>

        </div>

    </div>   
        
    <div class="page-title fs-5 fw-600 text-dark">

        <a *ngIf="!_.isEmpty(service.otherData?.secondaryPageTitle)" class="text-dark">
        
            <i class="fa fa-arrow-left me-1" (click)="service.goBack()"></i>

        </a>
        
        {{ service.otherData?.secondaryPageTitle || _pageTitle | titlecase }}
    
    </div>

    <div class="user-profile d-flex justify-content-center align-items-center">

        <i class="bi bi-bell bi bi-bell fs-5 me-3 cursor-pointer" routerLink="/pages/notification"></i>

        <a [matMenuTriggerFor]="menu"><img src="assets/images/male-user-profile.png" style="height: 30px;"></a>

        <mat-menu #menu="matMenu" class="menu-dropdown mt-1">

            <a mat-menu-item class="pe-5 small" routerLink="/pages/account-setup/company/account-details"> <i class="bi bi-person me-2"></i> Profile </a>

            <a mat-menu-item class="pe-5 small" (click)="logout()"> <i class="bi bi-gear me-2"></i> Logout </a>

        </mat-menu>

    </div>

</div>