<div fxLayout="row" class="snack-container py-1 cursor-pointer" (click)="sbRef.dismiss()">

    <div class="d-flex flex-row">
  
      <div class="d-flex imgContainer justify-content-center align-items-center me-2 p-3" [ngClass]="getIcon().parent">
        
        <i class="iconImage" [ngClass]="getIcon().child"></i>
        
      </div>
        
        <div class="d-flex align-items-center">
          
          <div class="text-dark mb-0 content-heading" *ngIf="data.title"> {{data?.title}} </div>
          
          <h5 class="my-1 text-secondary">
            
            {{data?.message}}
            
          </h5>
          
        </div>
          
    </div>


</div>

