* {
    --theme-color: #fff;
    --success-foreground: #73D338;
    --success-background: #e0fae9;
    --error-foreground: #e08d8d;
    --error-background: #f8e7e7;
    --warn-foreground: #FF9770;
    --warn-background: #fee7df;
    --info-foreground: #7EE2FF;
    --info-background: #eff9fc
}

::ng-deep{

    .cdk-overlay-container {
        z-index: 1050 !important;
    }
    
    // Snackbar background color
    .mat-mdc-snack-bar-container {
        min-width: 380px;
        max-width: 40vw;

        .mdc-snackbar__surface  {
            background : #fff !important;
            width: 100%;
            padding-right: 0px;
        }
        .text-secondary {
            font-size: 1rem;
            font-family: 'Poppins';
        }
        
    }

    // Image position
    .iconImage{
        font-size: 1.5rem !important;
    }

    .imgContainer{
        width: 38px !important;
        height: 38px !important;
        vertical-align: middle !important;
        border-radius: 50% !important;
        position: relative;
    }

    // *** Message Type Styles ***
    
    .success{
        background-color  : var(--success-background);
        color             : var(--success-foreground);
    }
    .error{
        background-color  : var(--error-background);
        color             : var(--error-foreground);
    }
    .warn{
        background-color  : var(--warn-background);
        color             : var(--warn-foreground);
    }
    .info{
        background-color  : var(--info-background);
        color             : var(--info-foreground);
    }
}

.btn-close {
    outline: none !important;
    box-shadow: none !important;
    width: .5rem !important;
    height: .5rem !important;
}