<div class="orderList-container" *ngIf="_.size(service._loading.loadingMap) == 0">
    
    <div class="container-fluid">

        <div class="d-flex">

            <div class="page-header">Orders ({{totalCount}})</div>

        </div>

        <div class="row d-flex justify-content-between mt-2">

            <div class="col-sm-8 col-md-5 col-lg-4 col-xl-4 mb-2">

                <input type="text" class="form-control form-control-lg border-2" placeholder="Search for orders by order ID" [(ngModel)]="searchValue" (change)="pageIndex = 0; pageSize = 10; getOrderList({})">

            </div>

            <div class="col-sm-4 col-md-7 col-lg-8 col-xl-8 text-end mb-2 align-self-center">

                <button class="btn btn-md btn-outline-primary bi bi-sliders" (click)="openAsideBar()"> 
            
                    <span class="ms-3">Filter</span>
                
                </button>   

                <a class="btn btn-primary btn-md bi bi-file-earmark-plus ms-2" routerLink="/pages/create-order">

                    <span class="ms-3" >Create New Order</span>

                </a>

            </div>

        </div>

        <div class="card border-0">

            <div class="table-responsive" *ngIf="_.size(orderList) > 0; else noRecords">

                <table class="table table-bordered bg-white" mat-table [dataSource]="orderList">

                    <ng-container matColumnDef="ORDER NO" >

                        <th mat-header-cell *matHeaderCellDef> Order No</th>

                        <td mat-cell *matCellDef="let orderDet; let index = index">

                            {{ orderDet?.orderNo }}

                        </td>

                        </ng-container>

                        <ng-container matColumnDef="ORDER DATE" >

                            <th mat-header-cell *matHeaderCellDef> Order Date</th>

                            <td mat-cell *matCellDef="let orderDet">

                                {{ orderDet?.orderDate | date: 'dd MMM YYYY' }}

                            </td>

                        </ng-container>

                        <ng-container matColumnDef="CUSTOMER NAME">

                            <th mat-header-cell *matHeaderCellDef> Customer Name</th>

                            <td mat-cell *matCellDef="let orderDet">

                                {{ orderDet?.customerId?.firstName + ' ' + orderDet?.customerId?.lastName | uppercase }}

                            </td>
                            
                        </ng-container>

                        <ng-container matColumnDef="MOBILE" >

                            <th mat-header-cell *matHeaderCellDef> Mobile </th>

                            <td mat-cell *matCellDef="let orderDet">

                                {{ orderDet?.customerId?.mobile  }}

                            </td>
                            
                        </ng-container>

                        <ng-container matColumnDef="MAIL">

                            <th mat-header-cell *matHeaderCellDef> Email ID</th>

                            <td mat-cell *matCellDef="let orderDet">

                                {{ orderDet?.customerId?.email  }}

                            </td>
                            
                        </ng-container>

                        <ng-container matColumnDef="NOOFITEMS">

                            <th mat-header-cell *matHeaderCellDef>No of Items</th>

                            <td mat-cell *matCellDef="let orderDet" class="text-center">

                                {{ orderDet?.qty || '--Nil--'  }}

                            </td>
                            
                        </ng-container>

                        <ng-container matColumnDef="BOOKEDVIA">

                            <th mat-header-cell *matHeaderCellDef> Booked Via </th>

                            <td mat-cell *matCellDef="let orderDet" class="text-center">

                                {{ orderDet?.orderMode || '--Nil--'  }}

                            </td>
                            
                        </ng-container>

                        <ng-container matColumnDef="ORDER STATUS">

                            <th mat-header-cell *matHeaderCellDef> Order Status</th>

                            <td  mat-cell *matCellDef="let orderDet" class="text-center">

                                <a class="badge rounded-pill px-2"  (click)="service.otherData.orderDetails = orderDet" routerLink="/pages/orders/track-status/{{orderDet._id}}"> 
                                    
                                    {{ orderDet?.orderStatus || '--Nil--'  }} 
                                    
                                    <i class="bi bi-arrow-repeat"></i>
                                
                                </a>

                            </td>
                            
                        </ng-container>

                        <ng-container matColumnDef="PAYMENT STATUS">

                            <th mat-header-cell *matHeaderCellDef> Payment Status</th>

                            <td mat-cell *matCellDef="let orderDet" class="text-center">

                            {{ orderDet?.paymentStatus || '--Nil--'  }} <i class=" text-primary bi bi-arrow-repeat"></i>

                            </td>
                            
                        </ng-container>

                        <ng-container matColumnDef="ACTION" stickyEnd>
                
                            <th mat-header-cell *matHeaderCellDef class="d-flex align-items-center justify-content-center"> Action </th>
            
                            <td mat-cell *matCellDef="let locationDet ;let orderDet" >
            
                                <a class="text-primary d-flex align-items-center justify-content-center" [matMenuTriggerFor]="menu"> 
        
                                    <i class="bi bi-three-dots fs-5"></i>
        
                                </a>

                                <mat-menu #menu="matMenu" class="list-options mt-1">

                                    <a mat-menu-item class="small px-2 text-dark border-bottom" style="min-height: 32px;" (click)="openModal(orderDet)"> <i class="bi bi-eye me-1"></i> View Order </a>
                        
                                    <a mat-menu-item class="small px-2 text-dark border-bottom" style="min-height: 32px;" > <i class="bi bi-pencil me-1"></i> Update Status </a>

                                    <a mat-menu-item class="small px-2 text-dark border-bottom" style="min-height: 32px;"> <i class="bi bi-credit-card-2-back me-1"></i> Update Payment </a>
                        
                                </mat-menu>
            
                            </td>
        
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>

                        <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>

                </table>

            </div>

            <ng-template #noRecords>

                <div class="empty-page d-flex justify-content-center align-items-center position-relative mt-5">

                    <div class="empty-content">
            
                        <h4 class="fw-600">No Records Found</h4>
                    
                        <div class="emptyIcon" style="background: url(./assets/images/empty-list.png);"></div>
                        
                    </div>
        
                </div>

            </ng-template>

        </div>

    </div>

</div>

<asidebar #canvas [openCanvas]="openCanvas" title="Filters" position="end" [showCancelBtn]="true" applyBtnTxt="APPLY" (onClose)="openCanvas = false" (onCancel)="canvas.close();loadForm()" (onSubmit)="filterData()">

    <div class="row" [formGroup]="filterForm">

        <div class="col-md-12">

            <div class="form-group">

                <label for="orderType">Order Type</label>

                <ng-select formControlName="orderType" [clearable]="false" placeholder="All" class="form-control" [searchable]="false">

                    <ng-option value="">All</ng-option>

                    <ng-option value="normal">Normal</ng-option>

                    <ng-option value="urgent">Urgent</ng-option>

                </ng-select>

            </div>

        </div>

        <div class="col-md-12">

            <div class="form-group">

                <label for="orderMode">Order Method</label>

                <ng-select formControlName="orderMode" [clearable]="false" placeholder="All" class="form-control" [searchable]="false">

                    <ng-option value="">All</ng-option>

                    <ng-option value="POS">POS</ng-option>

                    <ng-option value="Online">Online</ng-option>

                </ng-select>

            </div>

        </div>    
        
        <div class="col-md-12">

            <div class="form-group">

                <label for="orderStatus">Order Status</label>

                <ng-select formControlName="orderStatus" [clearable]="false" placeholder="All" class="form-control" [searchable]="false">

                    <ng-option value="">All</ng-option>

                    <ng-option *ngFor="let statusName of ['Booked', 'Pick Up', 'Received', 'In Progress', 'Ready', 'Out for Delivery', 'Delivered', 'Completed']" [value]="statusName">
                        
                        {{ statusName }}
                    
                    </ng-option>

                </ng-select>

            </div>

        </div>    
        
        <div class="col-md-12">

            <div class="form-group">

                <label for="paymentStatus">Payment Status</label>

                <ng-select formControlName="paymentStatus" [clearable]="false" placeholder="All" class="form-control" [searchable]="false">

                    <ng-option value="">All</ng-option>

                    <ng-option *ngFor="let statusName of ['Pending','Partially Received','Received']" [value]="statusName">{{ statusName }}</ng-option>

                </ng-select>

            </div>

        </div>            
    
    </div>

</asidebar>

<modal #OrderDetailsModal title="Order Details" modalBodyClass="p-4" size="xl" [isFullModal]="true" [showSaveBtn]="false" [showCancelBtn]="false">

    <div class="row">

        <div class="col-xxl-9 col-xl-8 col-lg-7">

            <div class="card rounded-top-5 border-0 mat-elevation-z2 m-3" >

                <div class="card-header rounded-top-5" style="background: #00B79D;">

                </div>

                <div class="card-body">

                    <div>

                        <h5 class="text-secondary mb-2 ms-2" style="font-size: 1.15rem;">AGENT DETAILS</h5>
    
                        <div class="d-flex align-items-center">
    
                            <div class="d-flex align-items-center justify-content-center" style="height: 80px; width: 100px;">

                                <img [src]="service.getFullImagePath({ 'imgUrl': companyDetails?.companyLogo })" onerror="src='/assets/images/company-logo.png'" style="height: 80px    ;" class="img-fluid" alt="User Profile">
    
                            </div>
    
                            <div class="ms-2">
    
                                <h5 class="fw-600">{{ companyDetails?.companyName }}</h5>
    
                                <div class="d-lg-flex d-sm-block justify-content-between flex-wrap">
                                    
                                    <p class="mb-0 text-secondary me-4">Ganapathy , Coimbatore</p>
    
                                    <p class="mb-0 text-secondary me-4"><i class="bi bi-telephone me-2"></i>{{ companyDetails?.agentId?.dialCode + '  ' + companyDetails?.agentId?.mobile }}</p>
    
                                    <p class="mb-0 text-secondary"><i class="bi bi-envelope me-2"></i> {{ companyDetails?.agentId?.email }}</p>
    
                                </div>
    
                            </div>
    
                        </div>

                    </div>

                    <div class="mt-4">

                        <h5 class="text-secondary mb-2 ms-2" style="font-size: 1.15rem;">CUSTOMER DETAILS</h5>

                        <div class="d-flex align-items-center">

                            <div class="d-flex align-items-center justify-content-center" style="height: 80px; width: 100px;">
        
                                <img src="/assets/images/user-profile.png" onerror="src='/assets/images/user-profile.png'" style="width: 54px;" class="img-fluid " alt="User Profile">
    
                            </div>
    
                            <div class="ms-2">
    
                                <h5 class="fw-600">{{ orderDetails?.customerId?.firstName }}</h5>
    
                                <div class="d-lg-flex d-sm-block justify-content-between">
                                    
                                    <p class="text-secondary">{{ orderDetails?.addressDetails?.street + ',' + orderDetails?.addressDetails?.areaId?.name + ' , ' +  orderDetails?.addressDetails?.cityId?.name +  ' - ' +  orderDetails?.addressDetails?.areaId?.zipcode  }}</p>
    
                                </div>
    
                            </div>

                        </div>

                    </div>

                    <div class="mt-4">

                        <h5 class="text-secondary mb-2 ms-2" style="font-size: 1.15rem;">ITEM SUMMARY</h5>

                        <div *ngFor="let item of orderDetails?.itemList" class="mt-3 d-flex">

                            <img [src]="service.getFullImagePath({ 'imgUrl': item?.productId?.productId?.productImageURL, 'baseUrlFrom': 'ADMIN_IMG_URL' })" style="width: 70px;
                            height: 71px;
                            border: 1px solid #dcdfe7;
                            padding: 4px;border-radius: 5px;" class="img-fluid my-2" alt="User Profile">

                            <div>

                                <small class="mx-4 text-dark">{{ item?.productId?.productId?.productName }}</small>

                                <div>
                                    
                                    <small class="mx-4 text-secondary my-0">{{ item?.chargeId?.chargeName }}</small>

                                    <div class="d-flex justify-content-between">

                                        <small class="mx-4 mt-2"><i class="bi bi-cart text-primary"></i> &nbsp;&nbsp;  {{ item?.qty + ' * ' + item?.amount + ' ' + orderDetails?.currencyId?.currencyCode }}</small>

                                        <p class="fw-bold mx-5">{{ item?.netAmt + '  ' +  orderDetails?.currencyId?.currencyCode  }}</p>

                                    </div>
    
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="timeDetails mt-3">

                            <h5 class="text-secondary">PICKUP ON  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-dark">{{ orderDetails?.pickupDate | date :'EE d MMM  y' }} </span></h5>

                            <h5 class="text-secondary">DELIVERY ON  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="text-dark">{{ orderDetails?.expDeliveryDate | date :'EE d MMM  y' }}</span></h5>


                    </div>

                </div>

            </div>

        </div>

        <div class="col-xxl-3 col-xl-4 col-lg-5">



        </div>

    </div>

</modal>