.icon{
    width: 40px; 
    height: 40px;  
    border-radius: 50%; 
    display: flex; 
    align-items: center; 
    justify-content: center;

}

.icon i {
    font-size: 24px;
}

p {
    display: inline;
    word-spacing: 0.1em;
}
.custom-card{
    height: 75px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}