<div class="track-status-container" *ngIf="_.size(service._loading.loadingMap) == 0">
    
    <div class="container-fluid" *ngIf="service.otherData.orderDetails as orderDetails">

        <div class="card border-0" style="background: #F3F5F9;">

            <div class="card-body">

                <div class="row">

                    <div class="col-xxl-3 col-lg-4 col-sm-6">
                        
                        <label class="small text-secondary" for="orderNo">Order No</label>

                        <h6 class="text-primary fw-600"> {{ orderDetails?.orderNo }} </h6>
                        
                    </div>
                    
                    <div class="col-xxl-2 col-lg-4 col-sm-6">
                        
                        <label class="small text-secondary" for="orderDate">Order Date</label>
                        
                        <h6 class="text-primary fw-600"> {{ orderDetails?.orderDate | date: 'dd.MM.YYYY' }} </h6>

                    </div>

                    <div class="col-xxl-2 col-lg-4 col-sm-6">
                        
                        <label class="small text-secondary" for="method">Method</label>

                        <h6 class="text-primary fw-600"> {{ orderDetails?.orderMode }} </h6>
                    
                    </div>

                    <div class="col-xxl-2 col-lg-4 col-sm-6">
                        
                        <label class="small text-secondary" for="orderStatus">Order Status</label>

                        <h6 class="text-primary fw-600"> {{ orderDetails?.orderStatus }} </h6>
                    
                    </div>

                    <div class="col-xxl-2 col-lg-4 col-sm-6">
                        
                        <label class="small text-secondary" for="paymentStatus">Payment Status</label>

                        <h6 class="text-primary fw-600"> {{ orderDetails?.paymentStatus }} </h6>
                    
                    </div>

                </div>

            </div>
            
        </div>

        <div class="card border-2 mt-4">

            <div class="card-body pt-3 pb-1" [ngClass]="{ 'border-bottom border-2': !last }" *ngFor="let statusDet of orderDetails.statusHistory; let last = last">

                <div class="row">

                    <div class="col-lg-3 col-md-6 mb-2">

                        <div class="d-flex align-items-center">

                            <i class="bi bi-check-circle fs-5 me-2" [ngClass]="statusDet.updated_at ? 'text-success' : 'text-secondary'"></i>

                            <h6 class="mb-0 px-3 py-1 rounded-pill fw-normal" [ngClass]="statusDet.updated_at ? 'text-success bg-success-subtle' : 'bg-secondary-subtle text-secondary'"> 
                                
                                {{ statusDet?.status }} 
                            
                            </h6>

                        </div>
                        
                    </div>

                    <ng-container *ngIf="statusDet?.updated_at">

                        <div class="col-lg-3 col-md-6 mb-2">
                            
                            <h6 class="mb-0"> By {{ statusDet?.updated_by?.name }} </h6>
        
                        </div>
    
                        <div class="col-lg-3 col-md-6 mb-2">
                            
                            <h6 class="mb-0"> {{ statusDet?.updated_at | date: 'dd.MM.YYYY HH:MMa' }} </h6>
        
                        </div>
    
                        <div class="col-lg-3 col-md-6 mb-2">
                            
                            <h6 class="mb-0"> {{ statusDet?.remarks }} </h6>
        
                        </div>
                    
                    </ng-container>

                </div>

            </div>

        </div>

    </div>

</div>