.auth-page {
    min-height: 100vh;
    background: linear-gradient(to left, #ffffff 50%, #f3f5f9 50%);

    .login-card {
        max-width: 450px;
        width: 100%;

        .form-control {
            height: 3rem;
            padding: 0.5rem 0.75rem 0.65rem 0.75rem;
        }
    }
}

@media screen and (max-width: 991px) {
    .auth-page {
        background: linear-gradient(to left, #ffffff 55%, #f3f5f9 50%)
    }
}

@media screen and (max-width: 767px) {
    .auth-page {
        background: #fff
    }
    
}