<div class="auth-page">

    <div class="container min-vh-100">

        <div class="row min-vh-100">

            <div class="col-lg-6 d-flex align-self-center justify-content-center d-none d-lg-flex">

                <img src="assets/images/home/banner-img.png" alt="" class="mw-100">

            </div>

            <div class="col-lg-6 d-flex justify-content-center align-self-center px-4 px-lg-0 ps-lg-5 mb-0 mb-lg-5">

                <div class="login-card">

                    <div class="img-container text-center mb-5">
    
                        <a routerLink="/home">

                            <img src="assets/images/logo.png" alt="">
                            
                        </a>
        
                    </div>

                    <ng-container *ngIf="!otpSent;">

                        <h2 class="fw-700">Forgot Password</h2>

                        <h5 class="text-light">Enter your registered email address</h5>

                        <form class="py-4">

                            <div class="form-group">

                                <input class="form-control" [(ngModel)]="email" [ngModelOptions]="{ standalone: true }" [ngClass]="{ 'border-danger': formSubmitted && email == '' }" type="email" placeholder="Email Address"/>

                            </div>

                        </form>

                        <button class="btn btn-primary btn-lg w-100 mt-4" [disabled]="email == '' || isLoading" (click)="sendOTP()">

                            <ng-container *ngIf="!isLoading">SEND OTP</ng-container>

                            <div class="spinner-border text-white-50" *ngIf="isLoading" role="status">

                                <span class="visually-hidden">Loading...</span>

                            </div>

                        </button>

                    </ng-container>

                    <ng-container *ngIf="otpSent && !otpVerified;">

                        <h2 class="fw-700">Verify OTP</h2>

                        <h5 class="text-light">Verification Code Sent to {{email}}</h5>
    
                        <form class="py-4">
    
                            <ng-otp-input  
                                #ngOtpInput
                                (onInputChange)="otp = $event"  
                                [config]="{ 
                                    'length': 4, 
                                    'containerClass': 'd-flex justify-content-center',
                                    'inputClass': 'form-control text-center border-0 bg-primary-subtle rounded-0 mx-2 fs-5',
                                    'inputStyles': { 'width': '60px', 'height': '60px' }
                                }">
                            </ng-otp-input>
                            
                            <div class="form-group mt-4">
    
                                <p class="fw-600 text-center text-light" *ngIf="seconds > 0">you will receive OTP within {{ seconds }} seconds</p>
    
                                <a class="text-primary text-center fw-500" *ngIf="seconds == 0" (click)="sendOTP()">Forget Password ?</a>
    
                            </div>
    
                            <button class="btn btn-primary btn-lg w-100 mt-4" [disabled]="(formSubmitted && _.size(otp) < 4) || isLoading" (click)="verifyOTP()">
                                
                                <ng-container *ngIf="!isLoading">VERIFY</ng-container>

                                <div class="spinner-border text-white-50" *ngIf="isLoading" role="status">
    
                                    <span class="visually-hidden">Loading...</span>
    
                                </div>
                            
                            </button>
    
                        </form>                        

                    </ng-container>

                    <ng-container *ngIf="otpVerified">
                    
                        <form [formGroup]="passwordForm">
                        
                            <div class="form-group mb-4">

                                <label for="password">New Password</label>
                
                                <input type="password" class="form-control form-control-lg" id="password" formControlName="password" placeholder="Enter" autocomplete="off" name="hidden" [ngClass]="{ 'is-invalid': (formSubmitted || f.password.touched) && f.password.errors }" maxlength="15">

                                <div *ngIf="(formSubmitted || f.password.touched) && f.password.errors" class="invalid-feedback">

                                    <div *ngIf="_.keys(f.password.errors).length == 1 && f.password.errors.required">Password is required</div>

                                    <div *ngIf="_.keys(f.password.errors).length == 1 && f.password.errors.minlength">Password must be at least 8 characters</div>

                                </div>                                    
                
                            </div>

                            <div class="form-group mb-4">

                                <label for="confirmPassword">Confirm Password</label>
                
                                <input type="text" class="form-control form-control-lg" id="confirmPassword" formControlName="confirmPassword" placeholder="Enter" autocomplete="off" name="hidden" [ngClass]="{ 'is-invalid': (formSubmitted || f.confirmPassword.touched) && f.confirmPassword.errors }" maxlength="15">

                                <div *ngIf="(formSubmitted || f.confirmPassword.touched) && f.confirmPassword.errors" class="invalid-feedback">

                                    <div *ngIf="_.keys(f.confirmPassword.errors).length == 1 && f.confirmPassword.errors.required">Confirm password is required</div>
    
                                    <div *ngIf="_.keys(f.confirmPassword.errors).length == 1 && f.confirmPassword.errors.confirmedValidator">Passwords do not match.</div>
    
                                </div>                                    
                
                            </div>

                            <button class="btn btn-primary btn-lg w-100 mt-4" [disabled]="(formSubmitted && passwordForm.invalid) || isLoading" (click)="changePassword()">
                                
                                <ng-container *ngIf="!isLoading">SAVE</ng-container>

                                <div class="spinner-border text-white-50" *ngIf="isLoading" role="status">

                                    <span class="visually-hidden">Loading...</span>

                                </div>

                            </button>
                                
                        </form>
                        
                    </ng-container>
                    
                </div>

            </div>                

        </div>

    </div>

</div>