<div class="container-fluid">
    
    <!-- Wallet card -->
     <div class="card bg-light border-3 border-light-subtle rounded-2">

        <div class="card-header p-3">
            <div class="card-title align-middle my-auto">Wallet</div>
        </div>
        
        <div class="card-body">

            <div class="d-flex justify-content-between">

                <div class="d-flex justify-content-between">

                    <img  src="/assets/images/wallet.png" class="w-fit-content m-auto">
                    
                    <div class="ps-4 align-content-around text-primary">

                        <h1 class="fw-bold mb-0">250</h1>
                        <span class="fw-bold fs-4">BHD</span>

                    </div>

                </div>

                <div class="d-flex justify-content-between">

                    <img src="/assets/images/add-bank.png" class="w-fit-content m-auto">

                    <div class="ps-4 align-content-around text-primary">

                        <h5 class="fw-bold text-light">Bank Details</h5>
    
                        <button class="btn btn-md btn-primary">Add Bank Details</button>

                    </div>

                </div>

            </div>

        </div>

     </div>

     <div class="row">

        <div class="d-flex">

            <div class="text-primary">Transactions</div>

            <div class="text-primary">Payout History</div>

        </div>

     </div>

</div>
