<div class="create-order-section">

    <div class="col-xxl-7">

        <mat-accordion>
        
            <mat-expansion-panel class="mat-elevation-z1 border" [ngClass]="{ 'mb-3': step != 0 }" [expanded]="step === 0" hideToggle disabled>
        
                <mat-expansion-panel-header class="px-1 rounded-0 px-3" [ngClass]="{ 'bg-primary-subtle': step === 0 }" style="height: 50px !important;">
    
                    <mat-panel-title class="fw-600 mat-expansion-panel-header-title" [ngClass]="step === 0 ? 'text-primary-emphasis' : 'text-secondary'"> 
                        
                        <div class="lh-1 me-2 px-2 py-1 rounded small text-primary-emphasis"  [ngClass]="step === 0 ? 'bg-white' : 'bg-secondary-subtle'">1</div> CUSTOMER DETAILS 
                    
                    </mat-panel-title>
    
                </mat-expansion-panel-header>
    
                <div class="rounded-2 p-4" [formGroup]="orderForm">
    
                    <div class="d-flex align-items-center mb-3" *ngIf="_.isEmpty(f.customerDetails.value)">
    
                        <input class="form-control form-control-lg border-1 w-100" type="text" placeholder="Search By Mobile or Email" formControlName="searchCustomer" (keyup)="formSubmitted.customerSearched = false;" style="max-width: 360px;">
    
                        <button class="btn ms-2 d-flex align-items-center justify-content-center text-white" style="width: 45px;height: 45px;background: #288BE6;" (click)="formSubmitted.customerSearched ? addNewCustomer() : searchCustomer()">
                
                            <img src="./assets/images/add-user.svg" *ngIf="formSubmitted.customerSearched">
    
                            <i class="bx bx-search-alt h3 mb-0 lh-1" *ngIf="!formSubmitted.customerSearched"></i>
    
                        </button>
    
                    </div>
    
                    <ng-container *ngIf="!_.isEmpty(f.customerDetails.value) && f.customerDetails.value as customerDet; else noCustomers">

                        <div class="d-flex">

                            <label class="small text-secondary me-2" style="width: 50px;">Name</label>

                            <p class="small fw-600">{{ customerDet.firstName + " " + customerDet.lastName }}</p>

                            <a class="text-primary" (click)="orderForm.patchValue({ 'customerDetails': null, 'customerId': null, 'isExistingCustomer': true })">

                                <i class="bi bi-pencil-square ms-3" 
                                   (click)="orderForm.patchValue({ 'customerDetails': null, 'customerId': null, 'isExistingCustomer': true })">
                                </i> Edit 

                            </a>

                        </div>

                        <div class="d-flex">

                            <label class="small text-secondary me-2" style="width: 50px;">Email</label>

                            <p class="small fw-600">{{ customerDet.email }}</p>

                        </div>

                        <div class="d-flex">

                            <label class="small text-secondary me-2" style="width: 50px;">Phone</label>

                            <p class="small fw-600">{{ customerDet.dialCode + "" + customerDet.mobile }}</p>

                        </div>

                        <div class="d-flex align-items-center">

                            <ng-container  *ngIf="!f.isExistingCustomer.value;">

                                <button class="btn btn-primary btn-sm rounded" (click)="sendCustomerVerification({})">VERIFY CUSTOMER</button>

                                <p class="ms-2 mb-0 small text-light" style="font-size: 12px;">
                                    
                                    to continue with this order.
                                
                                </p>
                            
                            </ng-container>

                            <ng-container *ngIf="f.isExistingCustomer.value">
                                
                                <button class="btn btn-primary btn-sm rounded">CONTINUE ORDER</button>

                            </ng-container>

                        </div>
    
                    </ng-container>

                    <ng-template #noCustomers>

                        <div class="d-flex align-items-center justify-content-center alert alert-secondary pb-0 pt-3">
    
                            <p class="small text-secondary">No customer found {{ formSubmitted.customerSearched ? 'with this mobile or email' : '' }}</p>

                        </div>

                    </ng-template>
    
                </div>
        
            </mat-expansion-panel>  

            <mat-expansion-panel class="mat-elevation-z1 border" [ngClass]="{ 'mb-3': step != 1 }" [expanded]="step === 1" hideToggle disabled>
        
                <mat-expansion-panel-header class="px-1 rounded-0 px-3" [ngClass]="{ 'bg-primary-subtle': step === 1 }" style="height: 50px !important;">
    
                    <mat-panel-title class="fw-600 mat-expansion-panel-header-title" [ngClass]="step === 1 ? 'text-primary-emphasis' : 'text-secondary'"> 
                        
                        <div class="lh-1 me-2 px-2 py-1 rounded small text-primary-emphasis" [ngClass]="step === 1 ? 'bg-white' : 'bg-secondary-subtle'">2</div> ADDRESS DETAILS 
                    
                    </mat-panel-title>
    
                </mat-expansion-panel-header>
    
                <div class="rounded-2 p-4">

                </div>
        
            </mat-expansion-panel>

            <mat-expansion-panel class="mat-elevation-z1 border" [ngClass]="{ 'mb-3': step != 2 }" [expanded]="step === 2" hideToggle disabled>
        
                <mat-expansion-panel-header class="px-1 rounded-0 px-3" [ngClass]="{ 'bg-primary-subtle': step === 2 }" style="height: 50px !important;">
    
                    <mat-panel-title class="fw-600 mat-expansion-panel-header-title" [ngClass]="step === 2 ? 'text-primary-emphasis' : 'text-secondary'"> 
                        
                        <div class="lh-1 me-2 px-2 py-1 rounded small text-primary-emphasis" [ngClass]="step === 2 ? 'bg-white' : 'bg-secondary-subtle'">3</div> ORDER SUMMARY
                    
                    </mat-panel-title>
    
                </mat-expansion-panel-header>
    
                <div class="rounded-2 p-4">

                </div>
        
            </mat-expansion-panel>
            
            <mat-expansion-panel class="mat-elevation-z1 border" [ngClass]="{ 'mb-3': step != 3 }" [expanded]="step === 3" hideToggle disabled>
        
                <mat-expansion-panel-header class="px-1 rounded-0 px-3" [ngClass]="{ 'bg-primary-subtle': step === 3 }" style="height: 50px !important;">
    
                    <mat-panel-title class="fw-600 mat-expansion-panel-header-title" [ngClass]="step === 3 ? 'text-primary-emphasis' : 'text-secondary'"> 
                        
                        <div class="lh-1 me-2 px-2 py-1 rounded small text-primary-emphasis" [ngClass]="step === 3 ? 'bg-white' : 'bg-secondary-subtle'">4</div> PAYMENT OPTIONS
                    
                    </mat-panel-title>
    
                </mat-expansion-panel-header>
    
                <div class="rounded-2 p-4">

                </div>
        
            </mat-expansion-panel>            
        
        </mat-accordion>

    </div>
    

</div>

<asidebar #canvas [title]="canvasConfig['canvasTitle']" [openCanvas]="openCanvas" [showCancelBtn]="canvasConfig['showCancelBtn']" [cancelBtnTxt]="canvasConfig['cancelBtnTxt']" [applyBtnTxt]="canvasConfig['applyBtnTxt']" (onClose)="openCanvas = false" (onCancel)="asidebarCancel()" (onSubmit)="asidebarSubmit()">
  
    <ng-container *ngIf="canvasConfig['canvasName'] == 'addCustomer'">
    
        <div class="row" *ngIf="customerForm" [formGroup]="customerForm">

            <div class="col-sm-6 pe-sm-1">
    
                <div class="form-group">
    
                    <label for="firstName"> First Name </label>
                    
                    <input type="text" class="form-control form-control-lg" id="firstName" formControlName="firstName" placeholder="Enter Name" [ngClass]="{ 'is-invalid': (formSubmitted.customerForm || cusf.firstName.touched) && cusf.firstName.errors }">
        
                    <div *ngIf="(formSubmitted.customerForm || cusf.firstName.touched) && cusf.firstName.errors" class="invalid-feedback">
            
                        <div *ngIf="cusf.firstName.errors.required">First Name is required</div>
        
                    </div>
        
                </div>
    
            </div>
    
            <div class="col-sm-6 ps-sm-1">
    
                <div class="form-group">
    
                    <label for="lastName"> Last Name </label>
                    
                    <input type="text" class="form-control form-control-lg" id="lastName" formControlName="lastName" placeholder="Enter Name" [ngClass]="{ 'is-invalid': (formSubmitted.customerForm || cusf.lastName.touched) && cusf.lastName.errors }">
        
                    <div *ngIf="(formSubmitted.customerForm || cusf.lastName.touched) && cusf.firstName.errors" class="invalid-feedback">
            
                        <div *ngIf="cusf.lastName.errors.required">Last Name is required</div>
        
                    </div>
        
                </div>
    
            </div>
    
            <div class="form-group">
    
                <label for="mobile">Mobile Number</label>
    
                <div class="input-group">
                
                    <div class="input-group-prepend me-1">
                
                        <ng-select formControlName="dialCode" [clearable]="false" placeholder="+91" class="form-control"
                            [ngClass]="{ 'is-invalid': (formSubmitted.customerForm || cusf.dialCode.touched) && cusf.dialCode.errors }">
                
                            <ng-option *ngFor="let dialCodeDet of masterList['dialCodeList']" [value]="dialCodeDet.dialCode">
                
                                <img class="country-flag" alt="{{ dialCodeDet.iso2 }}"
                                    src="http://purecatamphetamine.github.io/country-flag-icons/3x2/{{ dialCodeDet['iso2'] }}.svg" /> {{
                                dialCodeDet.dialCode }}
                
                            </ng-option>
                
                        </ng-select>
                
                    </div>
                
                    <input type="text" class="form-control" id="mobile" formControlName="mobile" placeholder="Enter"
                        [ngClass]="{ 'is-invalid': (formSubmitted.customerForm || cusf.mobile.touched) && cusf.mobile.errors }" numbersOnly maxlength="10">
                
                    <div *ngIf="(formSubmitted.customerForm || cusf.mobile.touched) && cusf.mobile.errors" class="invalid-feedback">
                
                        <div *ngIf="cusf.mobile.errors.required">Mobile number is required</div>
                
                    </div>
                
                </div>
    
            </div>
    
            <div class="col-md-8 pe-2 pe-md-1">
    
                <div class="form-group">
    
                    <label for="email"> Email </label>
                    
                    <input type="email" class="form-control form-control-lg" id="email" formControlName="email" placeholder="Enter Email" [ngClass]="{ 'is-invalid': (formSubmitted.customerForm || cusf.email.touched) && cusf.email.errors }">
        
                    <div *ngIf="(formSubmitted.customerForm || cusf.email.touched) && cusf.email.errors" class="invalid-feedback">
            
                        <div *ngIf="cusf.email.errors.required">Email is required</div>
        
                    </div>
        
                </div>
    
            </div>
    
            <div class="col-md-4 ps-2 ps-md-1">
    
                <div class="form-group">
    
                    <label for="gender">Gender</label>
    
                    <ng-select class="form-control form-control-lg border-2" placeholder="Select Gender" formControlName="gender" [clearable]="false">
    
                        <ng-option *ngFor="let gender of ['male','female','others']" [value]="gender">
    
                            {{ gender | uppercase }}
    
                        </ng-option>
    
                    </ng-select>
    
                </div>
    
            </div>

        </div>

    </ng-container>

</asidebar>

<modal #customerVerificationModal title="Customer Verification OTP" modalBodyClass="p-4" size="md" [showCancelBtn]="false" [showSaveBtn]="false" [showCloseIcon]="false">

    <div class="text-center" *ngIf="!f.isExistingCustomer.value && _.isEmpty(f.customerDetails.value) ? 'true' : 'false' as newCustomer">

        <p class="small text-light">To {{ newCustomer == 'true' ? 'Create' : 'Add' }} customer details, Enter the OTP sent to the customer email</p>

        <div class="d-flex justify-content-center pt-3">

            <input type="text" id="otp-inp-1" class="form-control text-center border-0 bg-primary-subtle rounded-0 mx-2" [(ngModel)]="otp[0]" maxlength="1" (keydown)="keydown({ 'event': $event,'nextElement': '#otp-inp-1' })" autocomplete="off" style="width: 50px;height: 50px;">

            <input type="text" id="otp-inp-2" class="form-control text-center border-0 bg-primary-subtle rounded-0 mx-2" [(ngModel)]="otp[1]" maxlength="1" (keydown)="keydown({ 'event': $event,'nextElement': '#otp-inp-3', 'prevElement': '#otp-inp-1' })" autocomplete="off" style="width: 50px;height: 50px;">

            <input type="text" id="otp-inp-3" class="form-control text-center border-0 bg-primary-subtle rounded-0 mx-2" [(ngModel)]="otp[2]" maxlength="1" (keydown)="keydown({ 'event': $event,'nextElement': '#otp-inp-4', 'prevElement': '#otp-inp-2' })" autocomplete="off" style="width: 50px;height: 50px;">

            <input type="text" id="otp-inp-4" class="form-control text-center border-0 bg-primary-subtle rounded-0 mx-2" [(ngModel)]="otp[3]" maxlength="1" (keydown)="keydown({ 'event': $event,'nextElement': '#otp-inp-5', 'prevElement': '#otp-inp-3' })" autocomplete="off" style="width: 50px;height: 50px;">

            <input type="text" id="otp-inp-5" class="form-control text-center border-0 bg-primary-subtle rounded-0 mx-2" [(ngModel)]="otp[4]" maxlength="1" (keydown)="keydown({ 'event': $event,'nextElement': '#otp-inp-6', 'prevElement': '#otp-inp-4' })" autocomplete="off" style="width: 50px;height: 50px;">

            <input type="text" id="otp-inp-6" class="form-control text-center border-0 bg-primary-subtle rounded-0 mx-2" [(ngModel)]="otp[5]" maxlength="1" (keydown)="keydown({ 'event': $event, 'nextElement': '#otp-submit', 'prevElement': '#otp-inp-5' })" autocomplete="off" style="width: 50px;height: 50px;">

        </div>    
        
        <div class="text-center">

            <p class="small mt-4">

                <ng-container *ngIf="timer > 0">
                
                    OTP Expires in <span class="h6" [ngClass]="timer > 0 && timer < 10 ? 'text-danger' : 'text-light-emphasis'">{{ timer | number: '2.0-0' }}</span>s

                </ng-container>

                <ng-container *ngIf="timer <= 0">
                
                    <span class="text-light">OTP Expired</span>

                </ng-container>

            </p>

            <p class="small">

                Didn't get the OTP? &nbsp;

                <a class="text-primary small cursor-pointer text-decoration-underline" [ngClass]="{ 'opacity-50': timer > 0 }" (click)="timer > 0 ? '' : sendCustomerVerification({ 'newCustomer': newCustomer == 'true' })">Resend OTP</a>

            </p>

        </div>

        <div class="d-flex justify-content-center mt-4">

            <button class="btn btn-primary py-2 px-5 fw-normal me-2" id="otp-submit" [disabled]="_.size(_.join(otp,'')) != 6" (click)="verifyCustomerOtp()">Verify</button>
            
            <button class="btn py-2 px-5 btn-outline-primary text-primary fw-normal" style="background-color: #F3F5F9;" (click)="customerVerificationModal.close()">Cancel</button>

        </div>

    </div>


</modal>