<div class="create-order-section">
    
    <mat-accordion>
    
        <mat-expansion-panel class="shadow-none border-bottom rounded-0" [expanded]="step === 0" hideToggle>
    
            <mat-expansion-panel-header class="px-1">

                <mat-panel-title class="text-primary-emphasis"> 1.Customer </mat-panel-title>

            </mat-expansion-panel-header>        

            <div class="border rounded-2 p-3" [formGroup]="orderForm">

                <h6 class="mb-0">Customer Details</h6>

                <hr class="mt-1">

                <div class="d-flex align-items-center">

                    <input class="form-control form-control-lg border-2 w-100" type="text" placeholder="Search By Mobile or Email" formControlName="searchCustomer" (keyup)="formSubmitted.customerSearched = false;" style="min-width: 280px; max-width: 360px;">

                    <button class="btn rounded-pill ms-2 d-flex align-items-center justify-content-center text-white" style="width: 45px;height: 45px;background: #288BE6;">
            
                        <img src="./assets/images/add-user.svg" *ngIf="formSubmitted.customerSearched">

                        <i class="bx bx-search-alt h3 mb-0 lh-1" *ngIf="!formSubmitted.customerSearched" (click)="searchCustomer()"></i>

                    </button>

                </div>

            </div>

            <div class="mt-2 text-end">

                <button class="btn btn-primary btn-sm px-5">Next</button>

            </div>
    
        </mat-expansion-panel>
    
    </mat-accordion>

</div>
