<div class="dashboard-container">

    <div class="row">

        <div class="page-header col-sm-6">Working Hours</div>
    
    </div>

    <div class="row mt-2">
        
        <div class="col-xxl-6 col-xl-7 col-lg-10">

            <form [formGroup]="workingHoursFrom">
    
                <ng-container  formArrayName="workingDays">
    
                    <ng-container *ngFor="let dayForm of wdf.controls; let wdIndx = index" [formGroup]="dayForm">
    
                        <div class="row border p-2 mb-3 rounded" *ngIf="dayForm.controls as df">
    
                            <div class="col-lg-4 col-md-5 mb-2 align-self-center">
    
                                <div class="form-check form-switch ps-0 w-fit-content">
                                    
                                    <input class="form-check-input float-start ms-0 mt-1" type="checkbox" role="switch" id="is_active"  formControlName="is_active">
    
                                    <label class="form-check-label fw-medium fs-5 ms-2 mt-0" for="is_active">
    
                                        {{ df.day.value }}
                                        
                                    </label>                                    
    
                                </div>
    
                            </div>
    
                            <ng-container formArrayName="availableTimes">
    
                                <ng-container *ngFor="let timeForm of df.availableTimes.controls; let timeIndx = index; let first = first; let last = last" [formGroup]="timeForm">
    
                                    <div class="col-lg-4 col-md-5 mb-2" *ngIf="!first"></div>
    
                                    <div class="col-xl-3 col-lg-2 col-md-2 col-sm-5 mb-2">
    
                                        <ng-select class="w-100" placeholder="Start Time" formControlName="startTime" [clearable]="false" [searchable]="false" (change)="changeValue({ fieldName: 'startTime', 'index': wdIndx, 'indexTwo': timeIndx })">
    
                                            <ng-option *ngFor="let time of timeOptions; let isLastTime = last" [value]="time.value" [disabled]="isLastTime || isTimeAvailable({ 'fieldName': 'startTime', 'option': time.value, wdIndx, timeIndx })">
                                                {{ time.label }}
                                            </ng-option>
    
                                        </ng-select>
                                        
                                    </div>
    
                                    <div class="col-xl-3 col-lg-2 col-md-2 col-sm-5 mb-2">
    
                                        <ng-select class="w-100" placeholder="Start Time" formControlName="endTime" [clearable]="false" [searchable]="false" (change)="changeValue({ fieldName: 'endTime', 'index': wdIndx, 'indexTwo': timeIndx })">
    
                                            <ng-option *ngFor="let time of timeOptions; let indx = index" [value]="time.value" [disabled]="indx == 0 || isTimeAvailable({ 'fieldName': 'endTime', 'option': time.value, wdIndx, timeIndx })">
                                                {{ time.label }}
                                            </ng-option>
    
                                        </ng-select>
                                        
                                    </div>
    
                                    <div class="col-sm-2 mb-2 align-self-center">

                                        <a class="btn btn-sm btn-outline-danger me-2" (click)="whf(wdIndx).removeAt(timeIndx)" *ngIf="!first">
    
                                            <i class="fas fa-trash-alt"></i>
    
                                        </a>
    
                                        <a class="btn btn-sm btn-outline-primary" (click)="addWorkingHours(wdIndx)" *ngIf="last">
    
                                            <i class="fas fa-plus"></i>
    
                                        </a>
    
                                    </div>
    
                                </ng-container>
    
                            </ng-container>
                            
                        </div>                        
    
                    </ng-container>
    
                </ng-container>

                <div class="row">

                    <div class="col-sm-6 pt-4 order-sm-first order-last mt-3 mt-sm-0">
    
                        <div class=" btn btn-block btn-lg w-100 btn-outline-primary">CLEAR</div>
    
                    </div>
    
                    <div class="col-sm-6 pt-4">
    
                        <div class=" btn btn-block btn-lg w-100 btn-primary" (click)="submit()">SAVE</div>
    
                    </div>

                </div>
    
            </form>

        </div>

    </div>
    
</div>
