<ng-template #modal>

    <div class="modal-header bg-secondary-subtle justify-content-center">

      <h6 class="modal-title fw-600">{{ modalTitle }}</h6>

      <i class='cursor-pointer bx bx-x text-primary border border-primary rounded position-absolute end-0 me-3' *ngIf="showCloseIcon" (click)="close()"></i>

    </div>

    <div class="modal-body {{modalBodyClass}}">

      <ng-content></ng-content>

    </div>

    <div class="modal-footer" *ngIf="showCancelBtn || showSaveBtn">

      <div class="form-check form-switch" *ngIf="toggleBtn">

        <input class="form-check-input" type="checkbox" role="switch" id="toggle">

        <label class="form-check-label cursor-pointer text-primary" for="toggle">{{toggleBtnTxt}}</label>

      </div>
      
      <div class="button-group text-center d-flex">
        
        <button *ngIf="showCancelBtn" type="button" class="btn btn-light me-2" (click)="close()"> {{ closeBtnTxt | titlecase }}  </button>
  
        <button *ngIf="showSaveBtn" type="button" class="btn btn-success me-2"  (click)="submit()" [disabled]="isDisable"> {{ saveBtnTxt | titlecase }} </button>

        <button *ngIf="isPrint" type="button" class="btn btn-sm btn-primary" (click)="print()">

          <i class="bi bi-printer"></i> Print  
           
        </button>

      </div>
      
    </div>
    
</ng-template>
