.custom-tabs .nav-link {
    border: 0; /* Remove the border */
}

.custom-tabs .nav-link.active {
    color: #3B71CA !important;
}
.custom-tabs .nav-link:not(.active) {
    color: #9FA6B2 !important;
}

