.badge {
    background: #e3f0e9;
    font-size: 0.80rem;
    padding: 0.25rem;
    margin: 0 0.5rem;
    color: #00b79d;
    cursor: pointer;
    border-radius: 0.25rem;
    font-weight: 500;
    text-wrap: nowrap;
    height: fit-content;
  }