/* You can add global styles to this file, and also import other style files */
@import url(./fonts/poppins/poppins.scss);
@import url(./fonts/work-sans/work-sans.scss);

#root {
    --primary-color: #1E4894;
    --secondary-color: #F3F5F9;
}

html, body { height: 100%; }

body { 
    margin: 0; 
    font-family: 'work-sans', 'Roboto', 'Poppins', sans-serif;
}