<div class="offcanvas offcanvas-{{position}} w-100 w-md-auto" id="offcanvas">

    <div class="offcanvas-header">

        <span class="modal-title mb-0">{{ canvasTitle }}</span>

        <i class='cursor-pointer bx bx-x text-primary border border-primary rounded' (click)="close()"></i>
    
    </div>

    <div class="offcanvas-body">
    
        <ng-content></ng-content>

    </div>

    <div class="offcanvas-footer d-flex  justify-content-between p-2 border-top">

        <button *ngIf="showCancelBtn" type="button" class="btn w-100 btn-lg mt-3 mt-lg-0 btn-outline-primary me-2" (click)="close()"> Close  </button>

        <button *ngIf="showApplyBtn" type="button" class="btn w-100 btn-lg mt-3 mt-lg-0 btn-primary ms-2" (click)="onSubmit.emit();"> {{ applyBtnTxt | titlecase }} </button>

  
    </div>

</div>