<div class="confirmationModal" [ngClass]="iconColor">

  <div class="modal-body d-flex justify-content-between">

    <div class="d-flex align-items-center">

      <div>

        <div class="confirm-img d-flex me-3 p-2 rounded-circle" [ngClass]="iconColor">
  
          <i [class]='iconClass'></i>
    
        </div>
        
      </div>

      <div class="confirm-content d-flex flex-column flex-row">
  
        <div class="content-heading h5 lh-lg mb-0">{{title | titlecase}}</div>
  
        <div class="content-text small mb-0 text-secondary">{{message}}</div>
  
      </div>

    </div>

    <button matRipple type="button" class="btn-close" (click)="decline()"></button>

  </div>

  <div class="modal-footer" *ngIf="btnCancelShow || btnOkShow">

    <button matRipple class="btn btn-lg py-2 btn-outline-primary border-1 fw-normal fs-6" (click)="decline()" *ngIf="btnCancelShow"> {{ btnCancelText | titlecase }} </button>

    <button matRipple class="btn btn-lg py-2 btn-primary border-1 fw-normal fs-6" (click)="accept()" *ngIf="btnOkShow"> {{ btnOkText | titlecase }} </button>

  </div>

</div>