<div class="location-container">

    <div class="d-flex justify-content-between align-items-center mb-4">

        <div class="page-header">Location</div>
    
        <div class="text-end">

            <button class="btn btn-primary bi bi-plus-lg" (click)="openAsideBar()"> 
            
                <span class="ms-3" >Add New</span>
            
            </button>

        </div>
    
    </div>

    <div class="card border-opacity-10 border-dark">

        <div class="table-responsive">

            <table class="table table-borderless mb-0 align-middle">

                <thead>

                    <tr>

                        <th style="width:5%">SL#</th>

                        <th style="width:25%">Location</th>

                        <th style="width:15%" class="text-end">Min Order Amount</th>

                        <th style="width:15%" class="text-end">Delivery Charges</th>

                        <th style="width:25%" class="text-center">Service</th>

                        <th style="width:15%" class="text-center">Action</th>

                    </tr>

                </thead>

                <tbody>

                    <tr *ngFor="let location of locationList; let i = index">

                        <td>{{i+1}}</td>

                        <td>
                            
                            {{ location['areaId']['name'] }}

                            <p class="small mb-0 text-light"> {{ location['areaId']['cityId']['name'] }} </p>
                        
                        </td>

                        <td class="text-end">{{ location['minOrderAmt']  | number: '1.2-2' | currency: 'INR' }}</td>

                        <td class="text-end">{{ location['deliveryCharge'] | number: '1.2-2' | currency: 'INR' }}</td>   

                        <td>

                            <div class="form-check form-switch ps-0 w-100 justify-content-center d-flex">

                                <label class="form-check-label text-dark" for="logistics">
                                
                                    {{ location.is_active ? 'Available' : 'Unavailable' }}
    
                                </label>

                                <input class="form-check-input" type="checkbox" role="switch" id="logistics"  [(ngModel)]="location['is_active']" (change)="updateLocation(location)" [ngModelOptions]="{standalone: true}">

                            </div>

                        </td>

                        <td class="text-center">

                            <a class="text-primary" (click)="openAsideBar(location)"> 

                                <i class="bi bi-pencil-square"></i> Update

                            </a>

                        </td>

                    </tr>

            </table>

        </div>      

    </div>

</div>

<asidebar #canvas [openCanvas]="openCanvas" title="{{mode}} Location" position="end" [showCancelBtn]="true" (onClose)="openCanvas = false" (onSubmit)="submit()">

    <div [formGroup]="locationForm">

        <div class="form-group mt-3">

            <ng-container *ngIf="mode == 'Create'"> 

                <small class="mt-2">LOCATION</small>                

                <custom-ng-select 
                    [value]="f.areaId?.value"
                    [from]="locationForm"     
                    formControlField="areaId"
                    [multiple]="true"
                    [items]="masterList['areaList']"
                    bindLabel="item?.name"
                    bindValue="_id"
                    placeholder="SELECT LOCATIONS"
                    [showError]="(formSubmitted || f.areaId.touched) && f.areaId?.errors"
                ></custom-ng-select>                

                <div *ngIf="(formSubmitted || f.areaId.touched) && f.areaId?.errors" class="d-block invalid-feedback">

                    <div *ngIf="f.areaId?.errors?.required"> Location is required </div>
    
                </div>                

            </ng-container>

            <ng-container *ngIf="mode == 'Update'"> 

                <small class="mb-1">LOCATION</small>

                <div class="h5 fw-600">
                    
                    {{ editData.areaId.name }} 
                    
                    <span class="small mb-0 text-light fw-normal"> 

                        <i class="bi bi-chevron-right small"></i>
                        
                        {{ editData?.areaId?.cityId?.name || '' }} 
                    
                    </span>
                
                </div>

            </ng-container>

        </div>

        <div class="form-group mt-3">

            <small class="mt-2">MIN ORDER AMOUNT</small>

            <div class="input-group mb-3 mt-2">

                <input type="text" class="form-control form-control-lg text-end" formControlName="minOrderAmt" placeholder="ENTER AMOUNT" [ngClass]="{ 'is-invalid': (formSubmitted || f.minOrderAmt.touched) && f.minOrderAmt?.errors }">

                <span class="input-group-text text-center text-primary px-lg-5  px-xxl-5" style="background-color:  #D2DAE9;;" id="basic-addon2">BHD</span>

            </div>

            <div *ngIf="(formSubmitted || f.minOrderAmt.touched) && f.minOrderAmt?.errors" class="d-block invalid-feedback">

                <div *ngIf="f.minOrderAmt?.errors?.required"> Min Order Amount is required </div>

            </div>

        </div>

        <div class="form-group mt-3">

            <small> DELIVERY CHARGES </small>

            <div class="row align-items-center mt-2">

                <div class="col-md-4 col-sm-6">

                    <button class="btn w-100 btn-lg fs-5 opt-btn" [ngClass]="{ 'active': f.isFreeDelivery?.value }" (click)="f.isFreeDelivery?.setValue(true)"> 
                        
                        Free 
                    
                    </button>
                    
                </div>

                <div class="col-md-4 col-sm-6 mt-3 mt-sm-0">

                    <button class="btn w-100 btn-lg fs-5 opt-btn" [ngClass]="{ 'active': !f.isFreeDelivery?.value }" (click)="f.isFreeDelivery?.setValue(false)"> 
                        
                        Paid 
                    
                    </button>

                </div>

            </div>
                    
        </div>
    
        <div class="form-group mt-3">

            <small class="mt-2">DELIVERY AMOUNT</small>

            <div class="input-group mb-3 mt-2">

                <input type="text" class="form-control form-control-lg text-end" formControlName="deliveryCharge" placeholder="DELIVERY CHARGES" [ngClass]="{ 'is-invalid': (formSubmitted || f.deliveryCharge.touched) && f.deliveryCharge?.errors }">

                <span class="input-group-text text-center text-primary px-lg-5  px-xxl-5" style="background-color:  #D2DAE9;;" id="basic-addon2">BHD</span>

            </div>

            <div *ngIf="(formSubmitted || f.deliveryCharge.touched) && f.deliveryCharge?.errors" class="d-block invalid-feedback">

                <div *ngIf="f.deliveryCharge?.errors?.required"> Delivery Charge is required </div>

            </div>

        </div>

    </div>

</asidebar>
    
