<div class="timeslot-container" *ngIf="_.size(service._loading.loadingMap) == 0">

    <ng-container *ngIf="_.isEmpty(workingDayDetails);else timeslotPage" >

        <div class="empty-page">

            <div class="empty-content">
    
                <h4 class="fw-600">Please set the working hours first</h4>
            
                <div class="emptyIcon" style="background: url(./assets/images/working-hours.png);height: 100px;"></div>
                
                <a class="btn btn-md btn-primary" routerLink="/pages/account-setup/company/working-hours"> Working Hours</a>
                
            </div>

        </div>

    </ng-container>    

    <ng-template #timeslotPage>

        <div class="container-fluid">

            <div class="row">
    
                <div class="page-header">TIMESLOT</div>
            
            </div>            

            <div class="row mt-2">
            
                <div class="col-xxl-9">
        
                    <div class="d-flex flex-wrap align-items-end">

                        <div *ngFor="let day of days" >

                            <p class="fw-norma text-center text-light mb-1" style="font-size: 0.75rem;">{{ day.date ? (day.date | date: 'dd MMM') : 'Default' }}</p>

                            <a class="day-badge bg-primary-subtle btn btn-md me-2 text-primary fw-semibold" [ngClass]="{ 'bg-secondary-subtle text-light': selectedDay.day != day.day, 'opacity-50 shadow-none': !_.includes(activeDays, day.day) }" style="height: fit-content" (click)="!_.includes(activeDays, day.day) ? null :getTimeSlots(day)">
                                
                                {{ day.day | slice:0:3 }}
    
                            </a>

                        </div>

                        <ng-select [searchable]="false" [clearable]="false" style="min-width: 240px;" [(ngModel)]="selectedWeek" (ngModelChange)="changeValue({ 'fieldName': 'selectedWeek' })">

                            <ng-option *ngFor="let week of weekOptions" [value]="week.label">{{ week.label }}</ng-option>

                        </ng-select>

                    </div>
        
                    <form [formGroup]="timeslotForm">
            
                        <ng-container formArrayName="timeSlots">
        
                            <div class="card mt-3">
        
                                <div class="card-body">
        
                                    <div class="d-flex align-items-center" *ngIf="sessionStatus['AM']">
        
                                        <svg xmlns="http://www.w3.org/2000/svg" width="27" height="26" viewBox="0 0 27 26" fill="none">
                                            <path d="M13.9707 5.58991V1" stroke="#898A93" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M13.7715 20.4101V25" stroke="#898A93" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M19.3599 7.03951L22.6055 3.79395" stroke="#898A93" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M19.1607 18.9605L22.4062 22.2061" stroke="#898A93" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M21.3554 12.9736L25.9453 12.9736" stroke="#898A93" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M7.5854 7.03926L4.33984 3.7937" stroke="#898A93" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M7.78462 18.9605L4.53906 22.2061" stroke="#898A93" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <path d="M5.58992 12.9736L1 12.9736" stroke="#898A93" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                            <circle cx="13.9716" cy="12.7741" r="5.18641" stroke="#898A93" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        </svg>
                
                                        <h6 class="text-light mb-0 ms-2 fw-600">AM SESSION</h6>
                
                                    </div>
                
                                    <div class="d-flex flex-wrap">
                
                                        <ng-container *ngFor="let slotForm of ts.controls;let index = index" [formGroup]="slotForm">

                                            <ng-container *ngIf="checkIsActiveHour(slotForm.value.startTime) as slotStatus">

                                                <a class="timeslot-badge btn btn-md px-2 me-3 mt-3 fw-semibold" *ngIf="slotForm.value.session == 'AM' && slotForm.controls as sf;" [ngClass]="{ 'bg-primary-subtle text-primary': sf.is_active.value, 'border' : !sf.is_active.value, 'disabled': slotStatus != 'active' }">
                    
                                                    <div class="form-check me-3 cursor-pointer">
                        
                                                        <input class="form-check-input cursor-pointer" type="checkbox" id="AM{{index}}" formControlName="is_active">
                        
                                                        <label for="AM{{index}}" class="form-check-label cursor-pointer" [ngClass]="{ 'text-dark': sf.is_active.value }">
                                                            
                                                            {{ getLabel(sf.label.value) }}
                                                        
                                                        </label>
                        
                                                    </div>
                    
                                                </a>

                                            </ng-container>
                
                                        </ng-container>
                                        
                                    </div>
        
                                    <hr class="my-4" *ngIf="sessionStatus['AM'] && sessionStatus['PM']">
                
                                    <div class="d-flex align-items-center mt-4" *ngIf="sessionStatus['PM']">
                
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="26" viewBox="0 0 24 26" fill="none">
                                            <path d="M12.4547 1C6.23717 13.4351 16.5011 19.2578 22.5212 20.8369C20.0193 23.6391 17.0416 24.7604 14.1912 24.9647C7.68412 25.4311 1.48817 20.1101 1.02891 13.6025C0.489863 5.96438 7.61596 1.43988 12.4547 1Z" stroke="#898A93" stroke-width="2" stroke-linejoin="round"/>
                                        </svg>
                
                                        <h6 class="text-light mb-0 ms-2 fw-600">PM SESSION</h6>
                
                                    </div>
                
                                    <div class="d-flex flex-wrap">
                
                                        <ng-container *ngFor="let slotForm of ts.controls;let index = index" [formGroup]="slotForm">

                                            <ng-container *ngIf="checkIsActiveHour(slotForm.value.startTime) as slotStatus">
                
                                                <a class="timeslot-badge btn btn-md px-2 me-3 mt-3 fw-semibold" *ngIf="slotForm.value.session == 'PM' && slotForm.controls as sf" [ngClass]="{ 'bg-primary-subtle text-primary': sf.is_active.value, 'border' : !sf.is_active.value, 'disabled': slotStatus != 'active' }">
                    
                                                    <div class="form-check me-3 cursor-pointer">
                        
                                                        <input class="form-check-input cursor-pointer" type="checkbox" id="PM{{index}}" formControlName="is_active">
                        
                                                        <label for="PM{{index}}" class="form-check-label cursor-pointer" [ngClass]="{ 'text-dark': sf.is_active.value }">
                                                            
                                                            {{ getLabel(sf.label.value) }}
                                                        
                                                        </label>
                        
                                                    </div>
                    
                                                </a>

                                            </ng-container>
                
                                        </ng-container>
                                        
                                    </div>
        
                                </div>                           
        
                            </div>           
            
                        </ng-container>
        
                        <div class="row">
        
                            <div class="col-xxl-6 col-lg-4 col-lg-2"></div>
        
                            <div class="col-xxl-3 col-lg-4 col-sm-6 pt-4 order-sm-0 order-last mt-3 mt-sm-0">
            
                                <button class="btn btn-block btn-lg w-100 btn-outline-primary">CLEAR</button>
            
                            </div>
            
                            <div class="col-xxl-3 col-lg-4 col-sm-6 pt-4">
            
                                <button class="btn btn-block btn-lg w-100 btn-primary" [disabled]="isLoading" (click)="submit()">
        
                                    <ng-container *ngIf="!isLoading">SAVE</ng-container>
        
                                    <div class="spinner-border text-white-50" *ngIf="isLoading" role="status">
        
                                        <span class="visually-hidden">Loading...</span>
        
                                    </div>
        
                                </button>  
            
                            </div>
        
                        </div>
            
                    </form>
        
                </div>
        
            </div>            

        </div>                

    </ng-template>

</div>
