
<div class="customerDetail-container" *ngIf="_.size(service._loading.loadingMap) == 0">

    <div class="container-fluid">
        
        <div class="row">
            
            <div class="col-md-4">

                <div class="card mat-elevation-z2 mb-3">

                    <div class="card-body">

                        <div class="d-flex align-items-center">

                            <img src="./assets/images/dashbord/total-picup.png">

                            <div class="ms-5">

                                <h6 class="fw-600 text-light">Total Orders</h6>

                                <h4 class="fw-600">
    
                                    <ng-container *ngIf="totalCount > 0">
    
                                        {{ totalCount | number: '2.0-0' }}
    
                                    </ng-container>
    
                                    <ng-container *ngIf="totalCount == 0">
    
                                        <span class="text-secondary">No Orders</span>
    
                                    </ng-container>
                                
                                </h4>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <div class="col-md-4">

                <div class="card mat-elevation-z2 mb-3">

                    <div class="card-body">

                        <div class="d-flex align-items-center">

                            <img src="./assets/images/customer-discount.png">

                            <div class="ms-5">

                                <h6 class="fw-600 text-light">Special Discount</h6>

                                <h4 class="fw-600">

                                    <ng-container *ngIf="customerDetails?.discount">

                                        <ng-container *ngIf="customerDetails?.discount?.discType == 'flat'">

                                            {{ customerDetails?.discount?.value + ' ' + service.currencyDetails?.currencyCode }}

                                        </ng-container>

                                        <ng-container *ngIf="customerDetails?.discount?.discType == 'percentage'">

                                            {{ customerDetails?.discount?.value + '%' }}

                                        </ng-container>

                                    </ng-container>

                                    <ng-container *ngIf="_.isEmpty(customerDetails?.discount)">

                                        <span class="text-secondary">No Discounts</span>
                                    
                                    </ng-container>

                                </h4>

                            </div>

                        </div>

                    </div>
                    
                </div>

            </div>

            <div class="col-md-4">

                <div class="card mat-elevation-z2 mb-3">

                    <div class="card-body">

                        <div class="d-flex align-items-center">

                            <img src="./assets/images/dashbord/today-delivery.png">

                            <div class="ms-5">
    
                                <h6 class="fw-600 text-light">Last Ordered</h6>
    
                                <h4 class="fw-600">
    
                                    <ng-container *ngIf="lastOrderDet?.created_at">
    
                                        {{ lastOrderDet?.created_at | date: 'dd MMM yyyy' }}
    
                                    </ng-container>
    
                                    <ng-container *ngIf="_.isEmpty(lastOrderDet?.created_at)">
    
                                        <span class="text-secondary">No Orders</span>
    
                                    </ng-container>
                                
                                </h4>
    
                            </div>                               

                        </div>                     

                    </div>
                    
                </div>

            </div>

            <div class="col-12">

                <div class="card border-0 rounded rounded-4" style="background: #F3F5F9;">
            
                    <div class="card-body p-3">

                        <div class="row">

                            <div class="col-xl-8 col-md-7 mb-md-0 mb-3">
    
                                <div class="d-flex align-items-center">
    
                                    <div class="d-flex align-items-center justify-content-center" style="height: 80px; width: 100px;">
                
                                        <img *ngIf="customerDetails" [src]="service.getFullImagePath({ 'baseUrlFrom': 'CUSTOMER_IMG_URL', 'imgUrl': customerDetails?.customerImageURL })" (error)="service.getCustomerImgUrl({ 'event': $event, 'customerDetail': customerDetails })" style="height: 100%;" class="img-fluid " alt="User Profile"> 
            
                                    </div>
            
                                    <div class="ms-3">
            
                                        <h5 class="fw-600">{{ customerDetails?.firstName }}</h5>
        
                                        <div class="d-flex align-items-center">
                                            
                                            <div class="me-5">
        
                                                <p class="text-secondary mb-1">Mobile</p>
        
                                                <p class="text-primary mb-0 fw-600">{{ customerDetails?.dialCode + ' ' + customerDetails?.mobile }}</p>
        
                                            </div>
        
                                            <div>
                                                
                                                <p class="text-secondary mb-1">Email</p>
        
                                                <p class="text-primary mb-0 fw-600">{{ customerDetails?.email }}</p>
        
                                            </div>
                                                
                                        </div>
            
                                    </div>
        
                                </div>                            
    
                            </div>
    
                            <div class="col-xl-4 col-md-5 text-end align-self-center">
    
                                <div class="d-flex align-items-center justify-content-between">
    
                                    <button class="btn btn-primary me-2 px-3 py-2" (click)="viewInfo({ 'purpose': 'manage-address' })">

                                        <i class="bi bi-geo-alt me-2"></i>
                                        
                                        Manage Address
                                    
                                    </button>
    
                                    <button class="bg-primary-subtle btn me-2 px-3 py-2 text-primary" (click)="viewInfo({ 'purpose': 'manage-profile' })">
                                        
                                        <i class="bi bi-pencil-square me-2"></i>

                                        Edit Profile
                                    
                                    </button>
    
                                </div>
    
                            </div>

                        </div>

                    </div>
                    
                </div>                    

            </div>

            <div class="col-12">

                <div class="card mt-2 border-0">
        
                    <div class="card border-0">
    
                        <div class="table-responsive mb-0" *ngIf="_.size(orderList) > 0; else noRecords">
            
                            <table class="table table-bordered bg-white" mat-table [dataSource]="orderList">
            
                                <ng-container matColumnDef="ORDER NO" sticky>
            
                                    <th mat-header-cell *matHeaderCellDef> Order No</th>
            
                                    <td mat-cell *matCellDef="let orderDet; let index = index">
            
                                        {{ orderDet?.orderNo }}
            
                                    </td>
            
                                    </ng-container>
            
                                    <ng-container matColumnDef="ORDER DATE" >
            
                                        <th mat-header-cell *matHeaderCellDef> Order Date</th>
            
                                        <td mat-cell *matCellDef="let orderDet">
            
                                            {{ orderDet?.orderDate | date: 'dd MMM YYYY' }}
            
                                        </td>
            
                                    </ng-container>
            
                                    <ng-container matColumnDef="CUSTOMER NAME">
            
                                        <th mat-header-cell *matHeaderCellDef> Customer Name</th>
            
                                        <td mat-cell *matCellDef="let orderDet">
            
                                            {{ orderDet?.customerId?.firstName + ' ' + orderDet?.customerId?.lastName | uppercase }}
            
                                        </td>
                                        
                                    </ng-container>
            
                                    <ng-container matColumnDef="MOBILE" >
            
                                        <th mat-header-cell *matHeaderCellDef> Mobile </th>
            
                                        <td mat-cell *matCellDef="let orderDet">
            
                                            {{ orderDet?.customerId?.mobile  }}
            
                                        </td>
                                        
                                    </ng-container>
            
                                    <ng-container matColumnDef="NO OF ITEMS">
            
                                        <th mat-header-cell *matHeaderCellDef>No of Items</th>
            
                                        <td mat-cell *matCellDef="let orderDet" class="text-center">
            
                                            {{ orderDet?.qty || '--Nil--'  }}
            
                                        </td>
                                        
                                    </ng-container>
            
                                    <ng-container matColumnDef="BOOKED VIA">
            
                                        <th mat-header-cell *matHeaderCellDef> Booked Via </th>
            
                                        <td mat-cell *matCellDef="let orderDet" class="text-center">
            
                                            {{ orderDet?.orderMode || '--Nil--'  }}
            
                                        </td>
                                        
                                    </ng-container>
            
                                    <ng-container matColumnDef="GROSS AMT">
            
                                        <th mat-header-cell *matHeaderCellDef> Gross Amt </th>
            
                                        <td mat-cell *matCellDef="let orderDet" class="text-end">
            
                                            {{ orderDet?.grossAmt || 0 | dynamicPipe:'number': '1.'+(orderDet.currencyId.decimalPoints || 2)+'-'+(orderDet.currencyId.decimalPoints || 2) }}
            
                                        </td>
                                        
                                    </ng-container>
            
                                    <ng-container matColumnDef="DISC AMT">
            
                                        <th mat-header-cell *matHeaderCellDef> Discount Amt </th>
            
                                        <td mat-cell *matCellDef="let orderDet" class="text-end">
            
                                            {{ orderDet?.discAmt || 0  | dynamicPipe:'number': '1.'+(orderDet.currencyId.decimalPoints || 2)+'-'+(orderDet.currencyId.decimalPoints || 2) }}
            
                                        </td>
                                        
                                    </ng-container>
            
                                    <ng-container matColumnDef="NET AMT">
            
                                        <th mat-header-cell *matHeaderCellDef> Net Amt </th>
            
                                        <td mat-cell *matCellDef="let orderDet" class="text-end">
            
                                            {{ orderDet?.netAmt || 0  | dynamicPipe:'number': '1.'+(orderDet.currencyId.decimalPoints || 2)+'-'+(orderDet.currencyId.decimalPoints || 2) }}
            
                                        </td>
                                        
                                    </ng-container>
            
                                    <ng-container matColumnDef="PAYMENT RECEIVED">
            
                                        <th mat-header-cell *matHeaderCellDef> Payment Rec. </th>
            
                                        <td mat-cell *matCellDef="let orderDet" class="text-end">
            
                                            {{ orderDet?.paymentReceived || 0  | dynamicPipe:'number': '1.'+(orderDet.currencyId.decimalPoints || 2)+'-'+(orderDet.currencyId.decimalPoints || 2) }}
            
                                        </td>
                                        
                                    </ng-container>
            
                                    <ng-container matColumnDef="ORDER STATUS">
            
                                        <th mat-header-cell *matHeaderCellDef> Order Status</th>
            
                                        <td  mat-cell *matCellDef="let orderDet" class="text-center">
            
                                            <a class="bg-primary-subtle fw-normal mx-auto px-2 py-1 rounded-pill small w-fit-content text-decoration-underline" (click)="service.otherData.orderDetails = orderDet" routerLink="/pages/orders/track-status/{{orderDet._id}}"> 
                                                
                                                {{ orderDet?.orderStatus || '--Nil--'  }} 
                                            
                                            </a>
            
                                        </td>
                                        
                                    </ng-container>
            
                                    <ng-container matColumnDef="PAYMENT STATUS">
            
                                        <th mat-header-cell *matHeaderCellDef> Payment Status</th>
            
                                        <td mat-cell *matCellDef="let orderDet" class="text-center">
            
                                        {{ orderDet?.paymentStatus || '--Nil--'  }} 
            
                                        </td>
                                        
                                    </ng-container>
            
                                    <ng-container matColumnDef="ACTION" stickyEnd>
                            
                                        <th mat-header-cell *matHeaderCellDef class="d-flex align-items-center justify-content-center"> Invoice </th>
                        
                                        <td mat-cell *matCellDef="let locationDet ;let orderDet" >
    
                                            <a (click)="openModal(orderDet)" class="text-primary d-flex align-items-center justify-content-center">
                                        
                                                <i class="bi bi-eye me-2 fs-4"></i>
                                            
                                            </a>                        
                        
                                        </td>
                    
                                    </ng-container>
            
                                    <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
            
                                    <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
            
                            </table>
            
                        </div>
            
                        <ng-template #noRecords>
            
                            <div class="empty-page d-flex justify-content-center align-items-center position-relative mt-5">
            
                                <div class="empty-content">
                        
                                    <h4 class="fw-600">No Orders Found</h4>
                                
                                    <div class="emptyIcon" style="background: url(./assets/images/empty-list.png);"></div>
                                    
                                </div>
                    
                            </div>
            
                        </ng-template>
            
                    </div>
                
                </div>                    

            </div>

        </div>

    </div> 

</div>

<modal #OrderDetailsModal title="Invoice Summary" modalBodyClass="p-4" size="xl" [isFullModal]="true" [showSaveBtn]="false" [showCancelBtn]="false">

    <div class="row">

        <div class="col-xxl-9 col-xl-8 col-lg-7">

            <div class="card rounded-top-5 border-0 mat-elevation-z2 m-3" >

                <div class="card-header rounded-top-5" style="background: #00B79D;">

                </div>

                <div class="card-body">

                    <div>

                        <h5 class="text-secondary mb-2 ms-2" style="font-size: 1.08rem;">AGENT DETAILS</h5>
    
                        <div class="d-flex align-items-center">
    
                            <div class="d-flex align-items-center justify-content-center" style="height: 80px; width: 100px;">

                                <img [src]="service.getFullImagePath({ 'imgUrl': service.companyDetails?.companyLogo })" onerror="src='/assets/images/company-logo.png'" style="height: 80px    ;" class="img-fluid" alt="User Profile">
    
                            </div>
    
                            <div class="ms-2">
    
                                <h5 class="fw-600">{{ service.companyDetails?.companyName }}</h5>
    
                                <div class="d-lg-flex d-sm-block justify-content-between flex-wrap">
                                    
                                    <p class="mb-0 text-secondary me-4">{{ service.companyDetails?.addressDetails?.areaId?.name + ', ' + service.companyDetails?.addressDetails?.cityId?.name + ' - ' + service.companyDetails?.addressDetails?.areaId?.zipcode }}</p>
    
                                    <p class="mb-0 text-secondary me-4"><i class="bi bi-telephone me-2"></i>{{ service.companyDetails?.agentId?.dialCode + '  ' + service.companyDetails?.agentId?.mobile }}</p>
    
                                    <p class="mb-0 text-secondary"><i class="bi bi-envelope me-2"></i> {{ service.companyDetails?.agentId?.email }}</p>
    
                                </div>
    
                            </div>
    
                        </div>

                    </div>

                    <div class="mt-4">

                        <h5 class="text-secondary mb-2 ms-2" style="font-size: 1.08rem;">CUSTOMER DETAILS</h5>

                        <div class="d-flex align-items-center">

                            <div class="d-flex align-items-center justify-content-center" style="height: 80px; width: 100px;">
        
                                <img *ngIf="orderDetails?.customerId" [src]="service.getFullImagePath({ 'baseUrlFrom': 'CUSTOMER_IMG_URL', 'imgUrl': orderDetails?.customerId?.customerImageURL })" (error)="service.getCustomerImgUrl({ 'event': $event, 'customerDetail': orderDetails?.customerId })" style="width: 54px;" class="img-fluid " alt="User Profile">
    
                            </div>
    
                            <div class="ms-2">
    
                                <h5 class="fw-600">{{ orderDetails?.customerId?.firstName }}</h5>
    
                                <div class="d-lg-flex d-sm-block justify-content-between">
                                    
                                    <p class="text-secondary">{{ orderDetails?.addressDetails?.street + ',' + orderDetails?.addressDetails?.areaId?.name + ' , ' +  orderDetails?.addressDetails?.cityId?.name +  ' - ' +  orderDetails?.addressDetails?.areaId?.zipcode  }}</p>
    
                                </div>
    
                            </div>

                        </div>

                    </div>

                    <div class="mt-4">

                        <h5 class="text-secondary mb-2" style="font-size: 1.08rem;">ITEM SUMMARY</h5>

                        <div *ngFor="let item of orderDetails?.itemList" class="mt-3 d-flex" style="max-width: 380px;">

                            <img [src]="_.isEmpty(item?.productId?.productId?.productImageURL) ? './assets/images/default-dress.png' : service.getFullImagePath({ 'imgUrl': item?.productId?.productId?.productImageURL, 'baseUrlFrom': 'ADMIN_IMG_URL' })" style="width: 80px;height: 80px;" class="img-fluid border border-2 p-2 rounded" alt="User Profile">

                            <div class="ms-3 w-100">

                                <h6 class="text-dark mb-1 fw-600">{{ item?.productId?.productId?.productName }}</h6>

                                <div>
                                    
                                    <p class="text-secondary small mb-1">{{ item?.chargeId?.chargeName }}</p>

                                    <div class="d-flex justify-content-between">

                                        <p class="mb-0 fw-600 d-flex align-items-end">

                                            <i class="bx bx-cart-alt fs-5 fw-500 me-2 text-primary"></i>

                                            <small>{{ item?.qty + ' * ' + (item?.amount | dynamicPipe:'number': '1.'+(orderDetails.currencyId?.decimalPoints || 2)+'-'+(orderDetails.currencyId?.decimalPoints || 2)) + ' ' + orderDetails?.currencyId?.currencyCode }}</small>
                                            
                                        </p>

                                        <p class="mb-0 fw-bold">{{ (item?.netAmt | dynamicPipe:'number': '1.'+(orderDetails.currencyId?.decimalPoints || 2)+'-'+(orderDetails.currencyId?.decimalPoints || 2)) + '  ' +  orderDetails?.currencyId?.currencyCode  }}</p>

                                    </div>
    
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="mt-4">

                        <h5 class="text-secondary mb-2" style="font-size: 1.08rem;">ITEM SUMMARY</h5>

                        <div class="mt-3">

                            <h6 class="text-secondary mb-3">
                                
                                PICKUP ON  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                
                                <span class="text-dark fw-600">{{ orderDetails?.pickupDate | date :'EE d MMM  y' }} </span>

                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ orderDetails?.pickupTimeSlotDet?.label }} 
                            
                            </h6>
    
                            <h6 class="text-secondary">
                                
                                DELIVERY ON  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                
                                <span class="text-dark fw-600">{{ orderDetails?.expDeliveryDate | date :'EE d MMM  y' }} </span>

                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  {{ orderDetails?.expDeliveryTimeSlotDet?.label }}
                            
                            </h6>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="col-xxl-3 col-xl-4 col-lg-5">

            <div class="card border-0 mat-elevation-z2 m-3">

                <div class="card-header bg-white text-secondary py-3 border-bottom">

                    <h6 class="fw-600 mb-0">Order Summary</h6>

                </div>

                <div class="card-body py-2 px-4">

                    <div class="d-flex justify-content-between mb-1 mt-2">

                        <p>Price <span>({{ orderDetails.qty }} Item) </span> </p>

                        <p class="fw-600 mb-0">{{ (orderDetails.grossAmt | dynamicPipe:'number': '1.'+(orderDetails.currencyId?.decimalPoints || 2)+'-'+(orderDetails.currencyId?.decimalPoints || 2)) + ' ' +  orderDetails?.currencyId?.currencyCode }}</p>

                    </div>

                    <div class="d-flex justify-content-between mb-1 align-items-center">

                        <p class="d-flex align-items-center">
                            
                            Discount

                            <a class="text-primary fw-500 mb-0 d-flex align-items-center bg-primary-subtle px-2 py-1 ms-2 rounded-pill">
                            
                                Discount
    
                                <img src="./assets/images/discount.svg" class="ms-2" alt="">
                            
                            </a>  
                        
                        </p>

                        <p class="fw-600 mb-0">{{ (orderDetails.discAmt || 0 | dynamicPipe:'number': '1.'+(orderDetails.currencyId?.decimalPoints || 2)+'-'+(orderDetails.currencyId?.decimalPoints || 2)) + ' ' +  orderDetails?.currencyId?.currencyCode }}</p>

                    </div>

                    <div class="d-flex justify-content-between">

                        <p>Delivery Charges</p>

                        <p class="fw-600 mb-0">{{ (orderDetails.deliveryCharges | dynamicPipe:'number': '1.'+(orderDetails.currencyId?.decimalPoints || 2)+'-'+(orderDetails.currencyId?.decimalPoints || 2)) + ' ' +  orderDetails?.currencyId?.currencyCode }}</p>

                    </div>

                    <hr class="mt-0">

                    <div class="d-flex justify-content-between">

                        <p>Net Amount</p>

                        <p class="fw-600 mb-0">{{ (orderDetails.netAmt | dynamicPipe:'number': '1.'+(orderDetails.currencyId?.decimalPoints || 2)+'-'+(orderDetails.currencyId?.decimalPoints || 2)) + ' ' +  orderDetails?.currencyId?.currencyCode }}</p>

                    </div>

                </div>                

            </div>

        </div>

    </div>

</modal>