<div class="usersList-container" *ngIf="_.size(service._loading.loadingMap) == 0">

    <div class="container-fluid">

        <ng-container >
            
            <div class="row d-flex justify-content-between mt-2">
                
                <div class="col-sm-8 col-md-5 col-lg-4 col-xl-3 mb-2">
                    
                    <div class="page-header">MY SUBSCRIPTION</div> <br>
        
                    <h6 class="fw-600" style="color: gray;">SUBSCRIPTION DETAILS</h6>
                
                </div>
        
                <!-- <div class="col-sm-4 col-md-7 col-lg-8 col-xl-9 text-end mb-2 align-self-center">
        
                    <button class="btn btn-primary btn-md bi bi-plus" (click)="openAsideBar()"> 
            
                        <span class="ms-3" > Add Payment Method</span>
                    
                    </button>
    
                </div> -->
        
            </div>
    
            <div class="card border-0">
    
                <div class="container" >
    
                    <div class="row justify-content-center align-items-center g-2">
    
                        <div class="card bg-light">
    
                            <div class="card-body">
                            
                            <div class="row justify-content-center align-items-center" *ngIf="this.subscriptionDet?.amount; else noSubscription">
                                <div class="col-3">
                                    <h5 class="text-primary fw-600">
                                        <span class="fw-800 me-2"><i class="bi bi-card-list"></i></span>
                                        {{ this.subscriptionDet?.amount }} {{ service.currencyDetails?.currencyCode }}
                                    </h5>
                                    <span class="fw-500" style="color: gray;">Subscribed On</span>
                                </div>
                            
                                <div class="col-6">
                                    <h5 class="text-primary fw-600">
                                        <span class="fw-800 me-2"><i class="bi bi-calendar4-week"></i></span>
                                        {{ this.subscriptionDet?.expiryInDays }} days to Expire
                                    </h5>
                                    <span class="fw-500" style="color: gray;">Auto renewal Enabled</span>
                                </div>
                            
                                <div class="col-3 text-center">
                                    <button class="btn btn-primary btn-md border-0" (click)="openAsideBar()" style="background: #ff8777;">
                                        <span class="ms-2">Cancel Subscription</span>
                                    </button>
                                </div>
                            </div>
                            
                            <ng-template #noSubscription>
                                <div class="row justify-content-center align-items-center">
                                    <div class="col text-center">
                                        <h5 class="text-danger fw-600">
                                            <span class="fw-800 me-2"><i class="bi bi-exclamation-circle"></i></span>
                                            No subscription found
                                        </h5>
                                        <button class="btn btn-primary btn-md border-0" (click)="openAsideBar()">
                                            <span class="ms-2">Subscribe</span>
                                        </button>
                                    </div>
                                </div>
                            </ng-template>

                                
                            </div>
                          
                        </div>
                          
                    </div>
    
                    <div class="row mt-3">
    
                        <p class="fw-600" style="color: gray;">CARD DETAILS</p>
                        
                        <div class="subscription-list" *ngFor="let cardDet of cardList">
            
                            <div class="row">
    
                                <div class="col-md-3"> 
                                    
                                    <div class="d-flex align-items-center">
    
                                        <img class="user-img" [src]="cardDet.imgPath || '/./assets/images/default-card.png'">
    
                                        <div class="ms-4">
                                            
                                            <span class="mb-0 fw-600" style="color: gray; font-size: 15px;">{{cardDet?.first_six}} **** {{ cardDet?.last_four}}</span> 
                                            
                                        </div>
    
                                    </div>
    
                                </div>
                                    
                                <div class="col-md-2 px-1 align-self-center fw-600 text-center mt-3 mt-md-0" style="color: gray; font-size: 15px;"> 
                                    
                                    {{ cardDet ?.brand }}/{{ cardDet?.funding }}
                                
                                </div>
                                    
                                <div class="col-md-3 px-1 align-self-center text-center fw-600 mt-3 mt-md-0" style="color: #ff8777;"> {{ cardDet.primary ? 'Primary' : ''}} </div>
        
                                <div class="col-md-3 px-6 align-self-center mt-3 mt-md-0">
        
                                    <div class="status-card mx-4 px-4 fw-600" style="color: #5ccdba; background-color: #abd3cc77;"> Active</div>
        
                                </div>
    
                                <div class="col-md-1 px-1 align-self-center text-center mt-3 mt-md-0"  style="color: gray;" *ngIf="!cardDet.primary">
    
                                    <i class="fs-5 bi bi-trash"></i>
    
                                </div>
        
                            </div>
            
                        </div>
    
                    </div>
    
                    <div class="table-responsive mt-4">
    
                        <p class="fw-600" style="color: gray;">Transaction / invoice</p>
        
                        <table class="table table-bordered bg-white" mat-table [dataSource]="transactionList">
                            
                            <ng-container matColumnDef="TRANSACTION ID" sticky>
        
                                <th mat-header-cell *matHeaderCellDef class="text-center"> TRANSACTION ID <span class="ms-1"><i class="bi bi-arrow-down-up"></i></span> </th>
                
                                <td mat-cell *matCellDef="let trans" class="text-center">
                
                                {{ trans?.transactionId | uppercase }}
                
                                </td>
            
                            </ng-container>
        
                            <ng-container matColumnDef="DATE" sticky>
        
                                <th mat-header-cell *matHeaderCellDef class="text-center"> DATE <span class="ms-1"><i class="bi bi-arrow-down-up"></i></span> </th>
                
                                <td mat-cell *matCellDef="let trans" class="text-center">
                
                                {{ trans?.created_at | date : 'dd-MM-yyyy' }}
                
                                </td>
            
                            </ng-container>
        
                            <ng-container matColumnDef="PLAN" sticky>
        
                                <th mat-header-cell *matHeaderCellDef class="text-center"> PLAN <span class="ms-1"><i class="bi bi-arrow-down-up"></i></span></th>
                
                                <td mat-cell *matCellDef="let trans" class="text-center">
                
                                Monthly
                
                                </td>
            
                            </ng-container>
        
                            <ng-container matColumnDef="CARD DETAILS" sticky>
        
                                <th mat-header-cell *matHeaderCellDef class="text-center"> CARD DETAILS <span class="ms-1"><i class="bi bi-arrow-down-up"></i></span></th>
                
                                <td mat-cell *matCellDef="let trans" class="text-center">
        
                                    <span> {{ trans?.card?.brand }} - {{ trans?.card?.first_six }} **** {{ trans?.card?.last_four}} </span>
                
                               </td>
            
                            </ng-container>
        
                            <ng-container matColumnDef="AMOUNT" sticky>
        
                                <th mat-header-cell *matHeaderCellDef class="text-center"> AMOUNT <span class="ms-1"><i class="bi bi-arrow-down-up"></i></span></th>
                
                                <td mat-cell *matCellDef="let trans" class="text-center">
                
                                {{ trans?.amount.toFixed(2) }}
                
                                </td>
            
                            </ng-container>
        
                            <ng-container matColumnDef="PAYMENT STATUS" sticky>
        
                                <th mat-header-cell *matHeaderCellDef class="text-center"> PAYMENT STATUS <span class="ms-1"><i class="bi bi-arrow-down-up"></i></span></th>
                
                                <td mat-cell *matCellDef="let trans" class="text-center">
                
                                {{ (trans?.status == 'CAPTURED' || trans?.status == 'AUTHORIZED') ? 'SUCCESS' : trans?.status }}
                
                                </td>
            
                            </ng-container>
    
                            <!-- <ng-container matColumnDef="ACTION" sticky>
        
                                <th mat-header-cell *matHeaderCellDef class="text-center"> ACTION <span class="ms-1"><i class="bi bi-arrow-down-up"></i></span></th>
                
                                <td mat-cell *matCellDef="let trans" class="text-center">
                
                                {{ trans?.action }} <span class="fs-4 ms-2"><i class="bi bi-box-arrow-in-down"></i></span>
                
                                </td>
            
                            </ng-container> -->
        
                            <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
        
                            <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>
        
                        </table>
        
                    </div>
    
                </div>
                
            </div>  

        </ng-container>
        
        <ng-template #noRecords>

            <div class="empty-page d-flex justify-content-center align-items-center position-relative mt-5">

                <div class="empty-content">
        
                    <h4 class="fw-600">No Records Found</h4>
                
                    <div class="emptyIcon" style="background: url(./assets/images/empty-list.png);"></div>
                    
                </div>
    
            </div>

        </ng-template>
    
    </div> 

</div>

<asidebar #CardCanvas [openCanvas]="openCanvas" title="Choose Payment Method" [showCancelBtn]="showCard" [cancelBtnTxt]="!showCard ? 'Cancel' : 'Back'" [applyBtnTxt]="!showCard ? 'Next' : 'Proceed to pay'" (onClose)="openCanvas = false;" (onCancel)="prev_next()" (onSubmit)="!showCard ? prev_next() : initiatePayment()">

    <div [formGroup]="subscriptionForm">

        <!-- Card Type Selection -->
        <ng-container *ngIf="!showCard; else cardDet">

            <div class="row justify-content-center align-items-cente ">
    
                <div class="card text-start">
    
                    <div class="card-body d-flex justify-content-between  align-items-center">
    
                        <div class="d-flex justify-content-center align-items-center ">
    
                            <span class="sideBar-img"></span> 
                    
                            <div class="fs-6 fw-700 ms-3 mt-1" style="color: gray;"> Benifit </div>
    
                        </div>
    
                        <div class="form-check">
    
                            <input class="form-check-input" type="radio" name="cardType" id="cardType" value="benifit" formControlName="cardType">
                        
                        </div>
                    
                    </div>
    
                </div>          
            
            </div>
    
            <div class="row justify-content-center align-items-cente mt-3">
    
                <div class="card text-start">
    
                    <div class="card-body d-flex justify-content-between align-items-center">
    
                        <div class="d-flex justify-content-center align-items-center ">
    
                            <span class="sideBar-img"></span> 
                    
                            <div class="fs-6 fw-700 ms-3 mt-1" style="color: gray;"> Card </div>
    
                        </div>
    
                        <div class="form-check">
                            
                            <input class="form-check-input" type="radio" name="cardType" id="cardType" value="card" formControlName="cardType" checked>
                        
                        </div>
                    
                    </div>
    
                </div>          
            
            </div>
            
        </ng-container>

        <!-- Card Details -->

        <ng-template #cardDet>

            <form role="form" [formGroup]="subscriptionForm">

                <div class="alert alert-warning" *ngIf="paymentFailedMsg">
                
                    <p class="small">
                
                        <i class="bi bi-exclamation-circle-fill mx-1"></i>
                
                        {{ paymentFailedMsg }}
                
                    </p>
                
                </div>

                <ng-container formGroupName="cardDetails">

                    <div class="form-group">
                        <label for="username" class="text-primary">Full name (on the card)</label>
                        <input type="text" name="username" placeholder="Jason Doe" required class="form-control form-control-lg" formControlName="name"
                            [ngClass]="{ 'is-invalid' : (paymentFormSubmitted && cf.name.invalid) }">
                            
                    </div>
                
                    <div class="form-group">
                
                        <label for="cardNumber" class="text-primary">Card number</label>
                
                        <div class="input-group">
                            <input type="text" name="cardNumber" placeholder="Your card number" class="form-control form-control-lg"
                                formControlName="card_number" cardNumberFormatter
                                [ngClass]="{ 'is-invalid' : (paymentFormSubmitted && cf.card_number.invalid) }">
                            <span class="input-group-text text-primary fs-3">
                                <i class='bx bxl-visa mx-1'></i>
                                <i class='bx bxl-mastercard mx-1'></i>
                            </span>
                        </div>
                
                    </div>
                
                    <div class="row">
                
                        <div class="col-sm-8">
                
                            <div class="form-group">
                
                                <label><span class="hidden-xs text-primary">Expiration</span></label>
                
                                <div class="input-group">
                
                                    <input type="number" placeholder="MM" name="" class="form-control form-control-lg" [min]="1" [max]="12"
                                        formControlName="exp_month"
                                        [ngClass]="{ 'is-invalid' : (paymentFormSubmitted && cf.exp_month.invalid) }">
                
                                    <input type="text" placeholder="YY" name="" class="form-control form-control-lg" [maxLength]="2"
                                        formControlName="exp_year"
                                        [ngClass]="{ 'is-invalid' : (paymentFormSubmitted && cf.exp_year.invalid) }">
                                </div>
                            </div>
                        </div>
                
                        <div class="col-sm-4">
                
                            <div class="form-group mb-4">
                
                                <label title="Three-digits code on the back of your card" class="text-primary">CVV
                                    <i class="fa fa-question-circle"></i>
                                </label>
                                <input type="password" required class="form-control form-control-lg" formControlName="scode" [maxLength]="4"
                                    [ngClass]="{ 'is-invalid' : (paymentFormSubmitted && cf.scode.invalid) }">
                            </div>
                        </div>
                
                    </div>

                </ng-container>
            
            </form>

        </ng-template>

    </div>

</asidebar>

