<div class="companyDetails-container" *ngIf="_.size(service._loading.loadingMap)==0">

    <div class="container-fluid">

        <div class="row">

            <div class="page-header">COMPANY DETAILS</div>
        
        </div>

        <div class="row mt-2">

            <form [formGroup]="companyDetailsFrom">

                <div class="col-xl-6 col-lg-7">

                    <div class="card border-opacity-10 border-dark">

                        <div class="card-body">
        
                            <div class="form-group mb-4">
        
                                <label for="companyName">Company Name</label>
                
                                <input type="text" class="form-control form-control-lg" id="companyName" formControlName="companyName" placeholder="Enter" autocomplete="off" name="hidden" [ngClass]="{ 'is-invalid': (formSubmitted || f.companyName.touched) && f.companyName.errors }">

                                <div *ngIf="(formSubmitted || f.companyName.touched) && f.companyName.errors" class="invalid-feedback">
        
                                    <div *ngIf="f.companyName.errors.required">Company name is required</div>

                                </div>
                
                            </div>
        
                            <div class="form-group mb-4">
        
                                <label for="ownerName">Owner Name</label>
                
                                <input type="text" class="form-control form-control-lg" id="ownerName" formControlName="ownerName" placeholder="Enter" autocomplete="off" name="hidden" [ngClass]="{ 'is-invalid': (formSubmitted || f.ownerName.touched) && f.ownerName.errors }">

                                <div *ngIf="(formSubmitted || f.ownerName.touched) && f.ownerName.errors" class="invalid-feedback">
        
                                    <div *ngIf="f.ownerName.errors.required">Owner name is required</div>

                                </div>
                
                            </div>
        
                            <div class="form-group mb-4">
        
                                <label for="email">DO YOU HAVE TAX ? </label>
                
                                <div class="mt-1" >
        
                                    <button class="btn px-4 fw-normal btn-md opt-btn" [ngClass]="{ 'active': f.haveTax.value }" (click)="f.haveTax.setValue(true)"> YES </button>
        
                                    <button class="btn px-4 fw-normal btn-md ms-3 opt-btn" [ngClass]="{ 'active': !f.haveTax.value }" (click)="f.haveTax.setValue(false)"> NO </button>
        
                                </div>
        
                            </div>
        
                            <div class="form-group mb-4">
        
                                <label for="taxationNumber">Taxation Name</label>
                
                                <input type="text" class="form-control form-control-lg" id="taxationNumber" formControlName="taxationNumber" placeholder="Enter" autocomplete="off" name="hidden" [ngClass]="{ 'is-invalid': (formSubmitted || f.taxationNumber.touched) && f.taxationNumber.errors }">

                                <div *ngIf="(formSubmitted || f.taxationNumber.touched) && f.taxationNumber.errors" class="invalid-feedback">
        
                                    <div *ngIf="f.taxationNumber.errors.required">Taxation name is required</div>

                                </div>
                
                            </div>
        
                            <div class="form-group mb-4">
        
                                <label for="email">Company Logo </label>

                                <input type="file" class="upload" style="display: none;" #fileInput (change)="uploadFile($event)">
                    
                                <br>
                                
                                <img [src]="f.companyLogo.value" class="img-fluid btn p-0" [ngClass]="{ 'border-2 border': f.companyLogo.value != '' }" style="max-width: 300px;" alt="profile" onerror="this.src = './assets/images/upload-img.png'" (click)="fileInput.click()"/>
        
                            </div>
        
                        </div>
        
                    </div>

                    <div class="row pt-4">
            
                        <div class="col-sm-6 order-sm-first order-last mt-3 mt-sm-0">

                            <div class="btn btn-block btn-lg w-100 btn-outline-primary">CLEAR</div>

                        </div>

                        <div class="col-sm-6 order-sm-first order-last mt-3 mt-sm-0">

                            <button class="btn btn-block btn-lg w-100 btn-primary" [disabled]="(formSubmitted && companyDetailsFrom.invalid) || isLoading" (click)="submit()">

                                <ng-container *ngIf="!isLoading">SAVE</ng-container>
        
                                <div class="spinner-border text-white-50" *ngIf="isLoading" role="status">
        
                                    <span class="visually-hidden">Loading...</span>
        
                                </div>
        
                            </button>                         

                        </div>                      

                    </div>                

                </div>
                
            </form>

        </div>

    </div>
    
</div>
