.sidebar {
    position: fixed;
    z-index: 1031;
    top: 0;
    width: 260px;
    height: 100%;
    background: #fff;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    // -webkit-box-shadow: 0px 16px 15px 5px rgb(0 0 0 / 7%);
    // -moz-box-shadow: 0px 16px 15px 5px rgba(0,0,0,0.07);
    // -ms-box-shadow: 0px 16px 15px 5px rgba(0,0,0,0.07);
    // -o-box-shadow: 0px 16px 15px 5px rgba(0,0,0,0.07);
    // box-shadow: 0px 16px 15px 5px rgb(0 0 0 / 7%);

    .sidebar-logo {
        padding: 2px 20px;
        padding-right: 15px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 10px;
        width: auto;
        position: relative;
        -webkit-transition: all 0.6s ease-in-out;
        -moz-transition: all 0.6s ease-in-out;
        -ms-transition: all 0.6s ease-in-out;
        -o-transition: all 0.6s ease-in-out;
        transition: all 0.6s ease-in-out;
    
        a {
            display: flex;
            align-items: flex-start;
            transition-delay: 0.2s;
            justify-content: flex-end;
            width: 100%;
        }
    
        img {
            height: 50px;
        }
    
        .logo-title {
            font-weight: 700;
            white-space: nowrap;
        }
    
        .menu-bt-sidebar {
            line-height: 26px;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: flex-end;
            margin-top: 0.5rem;
            -webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;            
            transition: all 0.6s ease-in-out;
        
    
            .wrapper-menu {
                font-size: 28px;
                text-align: center;
                color: #110A57;
                position: relative;
                cursor: pointer;
                -webkit-transition: all 0.6s ease-in-out;
                -moz-transition: all 0.6s ease-in-out;
                -ms-transition: all 0.6s ease-in-out;
                -o-transition: all 0.6s ease-in-out;
                transition: all 0.6s ease-in-out;
            }
        }
    
    }

    .data-scrollbar {
        display: block;
        position: relative;
        height: calc(100vh - 46px);
        overflow-y: auto; 
        outline: none;

        .scroll-content {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

            .sidebar-menu {
                position: relative;
                padding: 0;
                margin: 1rem 0 0 0;

                .menu {
                    margin: 0;
                    padding: 0;
                    list-style-type: none;

                    li {

                        list-style-type: none;
                        position: relative;
                        white-space: nowrap;

                        a {
                            font-size: 0.9rem;
                            white-space: nowrap;
                            display: block;
                            color: #262626;
                            position: relative;
                            font-weight: 500;
                            padding: 0.75rem 1.25rem;
                            line-height: 1.5rem;
                            display: -webkit-box;
                            display: -ms-flexbox;
                            display: flex;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            align-items: center;
                            overflow: hidden;
                            text-transform: capitalize;
                            // border-bottom: 1px solid #eaeaea;
                            transition: all 1s ease-in-out;

                            .span {
                                white-space: nowrap;
                                padding: 0;
                                display: inline-block;
                                -webkit-transition: none;
                                -moz-transition: none;
                                -ms-transition: none;
                                -o-transition: none;
                                transition: none;
                            }

                            i {
                                font-size: 1rem;
                            }
                            
                            .arrow-right {
                                margin-right: 0px;
                                margin-left: auto;
                                font-size: 13px;
                                transform: rotate(180deg);
                                -webkit-text-stroke: 0.5px;
                                -webkit-transition: all 0.4s ease-in-out;
                                -moz-transition: all 0.4s ease-in-out;
                                -ms-transition: all 0.4s ease-in-out;
                                -o-transition: all 0.4s ease-in-out;
                                transition: all 0.4s ease-in-out;
                            }

                            .arrow-right.open {
                                transform: rotate(360deg) !important;
                            }
                        }

                        ul {
                            padding-left: 0;
                            position: relative;

                            li {
                                margin: 0;
                                background: transparent !important;

                                a {
                                    padding-left: 40px;
                                }

                                ul > li > a {
                                    padding-left: 60px;
                                }
                            }
                        }

                        .submenu li {

                            >a {

                                background: #fff;
                                // border-bottom: 1px solid #eaeaea;
                                border-radius: 0px !important;

                                i {
                                    font-size: 1rem
                                }

                            }

                            >a.active {

                                background: #F3F5F9;

                                .bi-dash  {
                                    color: #2B539A;
                                }

                                span {
                                    color: #2B539A;
                                }

                            }

                        }

                    }

                    a.active {
                        color: #2B539A !important;
                        text-decoration: none;
                        background: #d3e2fe;
                        font-weight: 600;

                        i {
                            // overflow: hidden;
                            vertical-align: middle;
                            color: #2B539A;
                        }

                    }

                }

            }

        }
        
    }

}

.sidebar.close {

    width: 60px;

    .sidebar-logo {
        transform: translateX(-147px); 

        a {
            -webkit-opacity: 0;
            -moz-opacity: 0;
            -ms-opacity: 0;
            -o-opacity: 0;
            opacity: 0;
            display: flex;
            -webkit-transition: all 0.6s ease-in-out;
            -moz-transition: all 0.6s ease-in-out;
            -ms-transition: all 0.6s ease-in-out;
            -o-transition: all 0.6s ease-in-out;
            transition: all 0.6s ease-in-out;
                        
        }

        .menu-bt-sidebar {
            display: block;
            margin-left: auto;
            margin-right: auto;
            padding-left: 17rem;
        }
    }

    .sidebar-menu .menu li {

        a {
            margin-right: unset !important;
            border-radius: unset !important;
            // padding: 8px 20px 8px 20px !important;

            span {
                -webkit-opacity: 0;
                -moz-opacity: 0;
                -ms-opacity: 0;
                -o-opacity: 0;
                opacity: 0;
                -webkit-transition: all 0.6s ease-in-out;
                -moz-transition: all 0.6s ease-in-out;
                -ms-transition: all 0.6s ease-in-out;
                -o-transition: all 0.6s ease-in-out;
                transition: all 0.6s ease-in-out;
            }

            .arrow-right {
                -webkit-opacity: 0;
                -moz-opacity: 0;
                -ms-opacity: 0;
                -o-opacity: 0;
                opacity: 0;
                -webkit-transition: all 0.6s ease-in-out;
                -moz-transition: all 0.6s ease-in-out;
                -ms-transition: all 0.6s ease-in-out;
                -o-transition: all 0.6s ease-in-out;
                transition: all 0.6s ease-in-out;
            }

        }
        
        ul {

            li {

                a {
                    padding-left: 60px !important;
                }

                ul > li > a {
                    padding-left: 80px !important;
                }

            }

        }
    } 

}

@media (max-width: 1024) {

    .sidebar {
        width: 260px;
        left: 0;
        z-index: 1029;
    }

    .sidebar.close {
        display: inline-block;
        z-index: 1031;
        left: -300px;
        top: 0px;
    }

}