<div class="sidebar border-end" [ngClass]="{ 'close': !isMenuOpen }">

    <div class="sidebar-logo d-flex align-items-center justify-content-center">

        <a class="header-logo" routerLink="/pages/dashboard">

            <img src="/assets/images/logo.png" class="img-fluid rounded-normal light-logo" alt="logo" (error)="logImgErrorHandling()">
            
        </a>

        <div class="menu-bt-sidebar">

            <i class="bi bi-list wrapper-menu" (click)="isMenuOpen = !isMenuOpen; menuEvent.emit(isMenuOpen);"></i>

        </div>

    </div>

    <div class="data-scrollbar">

        <div class="scroll-content">

            <nav class="sidebar-menu">

                <ul id="sidebar-toggle" class="menu">

                    <li *ngFor="let menuDet of menuList;">

                        <a 
                            [ngClass]="{ 'active': menuDet.isSelected }"
                            [routerLink]="_.size(menuDet.subMenu) > 0 ? [] : menuDet.url" 
                            [routerLinkActive]="_.size(menuDet.subMenu) > 0 ? '' :'active'"
                            (click)="openMenu({ 'path': menuDet.url, 'menuLevel': 0 });"
                            *ngIf="menuDet.allow">

                            <i [class]='menuDet.icon'></i>

                            <span class="ms-3">{{ menuDet.label }}</span>

                            <i 
                                *ngIf="_.size(menuDet.subMenu) > 0" 
                                class="bi bi-chevron-up arrow-right" 
                                [ngClass]="{ 'open':  menuDet.isExpand  }" >

                            </i>

                        </a>

                        <ul class="submenu" *ngIf="(_.size(menuDet.subMenu) > 0 && menuDet.isExpand)"  [@dropInOutAnim]>

                            <li *ngFor="let subMenuOneDet of menuDet.subMenu">

                                <a 
                                    [ngClass]="{ 'active': subMenuOneDet.isSelected }"
                                    [routerLink]="_.size(subMenuOneDet.subMenu) > 0 ? [] : subMenuOneDet.url" 
                                    [routerLinkActive]="_.size(subMenuOneDet.subMenu) > 0 ? '' : 'active'"
                                    (click)="openMenu({ 'path': subMenuOneDet.url, 'menuLevel': 1 });"
                                    *ngIf="subMenuOneDet.allow">

                                    <i [class]="subMenuOneDet.icon || 'bi bi-dash'"></i>

                                    <span [ngClass]="{ 'ms-3': subMenuOneDet.icon }">{{ subMenuOneDet.label }}</span>

                                    <i 
                                        *ngIf="_.size(subMenuOneDet.subMenu) > 0" 
                                        class="bi bi-chevron-up arrow-right" 
                                        [ngClass]="{ 'open':  subMenuOneDet.isExpand }">
                                    </i>

                                </a>

                                <ul class="submenu" *ngIf="_.size(subMenuOneDet.subMenu) > 0 && subMenuOneDet.isExpand"  [@dropInOutAnim]>

                                    <li *ngFor="let subMenuTwoDet of subMenuOneDet.subMenu">

                                        <a 
                                            [ngClass]="{ 'active': subMenuTwoDet.isSelected }" 
                                            [routerLink]="subMenuTwoDet.url" 
                                            routerLinkActive="active" 
                                            (click)="openMenu({ 'path': subMenuTwoDet.url, 'menuLevel': 2 })"
                                            *ngIf="subMenuTwoDet.allow">

                                            <i class="bi bi-dash me-2"></i>

                                            <span>{{ subMenuTwoDet.label }}</span>

                                        </a>

                                    </li>

                                </ul>

                            </li>

                        </ul>

                    </li>

                </ul>

            </nav>

        </div>
    
    </div>

</div> 