<div class="serviceDetails-container"  *ngIf="_.size(service._loading.loadingMap)==0">

    <div class="container-fluid">    

        <div class="row">

            <div class="page-header">SERVICE DETAILS</div>
        
        </div>

        <div class="row mt-2">

            <form [formGroup]="serviceDetailsFrom">

                <div class="col-xl-6 col-lg-7">

                    <div class="card border-opacity-10 border-dark">

                        <div class="card-body">

                            <p> SERVICE SUPPORTED </p>
        
                            <div class="row justify-content-center align-items-center">

                                <div class="col-sm-6">

                                    <button class="btn w-75 btn-lg fs-5 opt-btn" [ngClass]="{ 'active': f.pos.value }" (click)="f.pos.setValue(!f.pos.value)"> 
                                        
                                        <span> <i class="bi bi-printer fs-4 me-2 mt-2"></i> </span>  POS 
                                    
                                    </button>
                                    
                                </div>

                                <div class="col-sm-6 mt-3 mt-sm-0">

                                    <button class="btn w-75 btn-lg fs-5 opt-btn" [ngClass]="{ 'active': f.online.value }" (click)="f.online.setValue(!f.online.value)"> 
                                        
                                        <span> <i class="bi  bi-compass fs-4 me-2 mt-2"></i> </span> online 
                                    
                                    </button>

                                </div>

                            </div>

                            <div class="row" *ngIf="f.online.value">

                                <div class="col-sm-8 text-start mt-4">
                                    
                                    <p class="fw-400"> Flexi Clean Logistics Support </p>

                                    <p class="text-light"> Fees {{appServiceChargeDet.logistics}}</p>

                                </div>

                                <div class="col-sm-4 align-self-center  mt-3 mt-sm-0" [ngClass]="{ 'opacity-75': !f.online.value }">
                                    
                                    <input type="checkbox" id="logistics" class="toggle" formControlName="logistics" [checked]="f.logistics.value">

                                    <label for="logistics"><span class="on">YES</span><span class="off">NO</span></label>

                                </div>
                            
                            </div>
        
                        </div>
        
                    </div>

                    <div class="row px-4 pt-4">
            
                        <div class="col-sm-6 order-sm-first order-last mt-3 mt-sm-0">

                            <div class=" btn btn-block btn-lg w-100 btn-outline-primary">CLEAR</div>

                        </div>

                        <div class="col-sm-6">

                            <button class="btn btn-block btn-lg w-100 btn-primary"  [disabled]="isLoading" (click)="submit()">

                                <ng-container *ngIf="!isLoading">SAVE</ng-container>
        
                                <div class="spinner-border text-white-50" *ngIf="isLoading" role="status">
        
                                    <span class="visually-hidden">Loading...</span>
        
                                </div>
        
                            </button>                         

                        </div>

                    </div>                

                </div>
                
            </form>

        </div>

    </div>
    
</div>
