
input[type="checkbox"].toggle {
    opacity: 0;
    position: absolute;
    left: -99999px;
}

input[type="checkbox"].toggle+label {
    width: 93px;
    height: 39px;
    line-height: 37px;
    background-color: #fff;
    padding: 0px 0px 0px 10px;
    border-radius: 50px;
    border: 2px solid #1E4894;
    display: inline-block;
    position: relative;
    cursor: pointer;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    // -moz-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
    // -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
    // box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
}

input[type="checkbox"].toggle+label:before,
input[type="checkbox"].toggle+label:hover:before {
    content: " ";
    position: absolute;
    top: 4px;
    left: 5px;
    width: 28px;
    height: 28px;
    background: #1E4894;
    z-index: 2;
    -moz-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    transition: all 0.25s ease-in;
    -moz-border-radius: 14px;
    -webkit-border-radius: 14px;
    border-radius: 14px;
}

input[type="checkbox"].toggle+label .off,
input[type="checkbox"].toggle+label .on {
    color: #1E4894;
    font-size: 16px;
    font-weight: 500;
}

input[type="checkbox"].toggle+label .off {
    margin-left: 46px;
    display: inline-block;
}

input[type="checkbox"].toggle+label .on {
    display: none;
}

input[type="checkbox"].toggle:checked+label .off {
    display: none;
}

input[type="checkbox"].toggle:checked+label .on {
    margin-right: 46px;
    display: inline-block;
}

input[type="checkbox"].toggle:checked+label,
input[type="checkbox"].toggle:focus:checked+label {
    background-color: #fff;
}

input[type="checkbox"].toggle:checked+label:before,
input[type="checkbox"].toggle:checked+label:hover:before,
input[type="checkbox"].toggle:focus:checked+label:before,
input[type="checkbox"].toggle:focus:checked+label:hover:before {
    background-position: 0 0;
    top: 4px;
    left: 115%;
    margin-left: -48px;
}

.opt-btn {
    border: 2px solid #d1d1d1;
    color: #87888f !important;
    box-shadow: none;

    &:hover {
        border-color: var(--bs-primary);
        color: #1E4894 !important;
        background: #F3F5F9;
    }
}

.opt-btn.active {
    border-color: var(--bs-primary) !important;
    color: #1E4894 !important;
    background: #F3F5F9;
}