<div class="auth-page">

    <div class="container min-vh-100">

        <div class="row min-vh-100">

            <div class="col-lg-6 d-flex align-self-center justify-content-center d-none d-lg-flex ">

                <img src="assets/images/home/banner-img.png" alt="" class="mw-100">

            </div>

            <div class="col-lg-6 d-flex justify-content-center align-self-center px-4 px-lg-0 ps-lg-5 mb-0 mb-lg-5">

                <div class="login-card text-center">

                    <div class="img-container text-center mb-5">
    
                        <a routerLink="/home">

                            <img src="assets/images/logo.png" alt="">
                            
                        </a>
        
                    </div>

                    <h3 class="text-center fw-600">{{title}}</h3>

                    <p class="text-center text-light">{{message}}</p>

                    <a (click)="goBackToHome()" class="btn btn-primary px-5 mt-4">Go to Home</a>

                </div>

            </div>                

        </div>

    </div>

</div>