.badge {
    background: #CED7E7;
    font-size: 0.80rem;
    padding: 0.25rem;
    margin: 0 0.5rem;
    color: #2B5298;
    cursor: pointer;
    border-radius: 0.25rem;
    font-weight: 500;
    text-wrap: nowrap;
    
    height: fit-content;
}                          

::ng-deep .list-options {
  .mat-mdc-menu-content {
    padding: 0 !important;
  }
  .mat-mdc-menu-item-text {
    font-size: 13px !important;
  }
}
