<!-- <div class="container-fluid p-5">

    <h4 class="company-detail">Company Details</h4>

    <div class="card">

        <div class="card-body">

            <form  [formGroup]="addressDetailsFrom">
    
                <label for="validationCustom01" class="form-label company">COMPANY NAME</label>
    
                <input type="text" class="form-control company-input" formControlName="street" id="street" placeholder="Super Laundry & Dry Cleaning - Manama">
                
            </form>

        </div>

    </div>

</div> -->


<div class="dashboard-container">

    <div class="row">

        <div class="page-header col-sm-6">Address Details</div>
    
    </div>

    <div class="row mt-2">

        <form [formGroup]="addressDetailsFrom">

            <div class="col-xl-6 col-lg-7">

                <div class="card border-opacity-10 border-dark">

                    <div class="card-body">
    
                        <div class="form-group mb-4">
    
                            <label for="street">NO & STREET/ROAD *</label>
            
                            <input type="text" class="form-control form-control-lg" id="address1" formControlName="address1"  autocomplete="off" name="hidden" [ngClass]="{ 'is-invalid': formSubmitted && f.address1?.errors }">
            
                        </div>
    
                        <div class="form-group mb-4">
    
                            <label for="appartment">APARTMENT, BUILDING, FLAT</label>
            
                            <input type="text" class="form-control form-control-lg" id="address2" formControlName="address2"  autocomplete="off" name="hidden" [ngClass]="{ 'is-invalid': formSubmitted && f.address2?.errors }">
            
                        </div>
    
                        <div class="row">

                            <div class="col-md-6 pe-2 pe-md-1">
    
                                <div class="form-group">

                                    <label for="country">Country</label>

                                    <ng-select formControlName="country" [clearable]="false" placeholder="Select" class="form-control" [ngClass]="{ 'is-invalid': f.country?.touched && f.country?.errors }">

                                        <ng-option *ngFor="let countryDet of masterList['countryList']" [value]="countryDet.id">
                                            
                                            {{ countryDet.title | uppercase }}
                                    
                                        </ng-option>

                                    </ng-select>
        
                                    <div *ngIf="f.country?.touched && f.country?.errors" class="invalid-feedback">
        
                                        <div *ngIf="f.country.errors.required">Country is required</div>
        
                                    </div>
        
                                </div>

                            </div>

                            <div class="col-md-6 ps-2 ps-md-1">
    
                                <div class="form-group">

                                    <label for="state">State</label>

                                    <ng-select formControlName="state" [clearable]="false" placeholder="Select" class="form-control" [ngClass]="{ 'is-invalid': f.state.touched && f.state?.errors }" [readonly]="_.size(masterList['stateList']) == 0">

                                        <ng-option *ngFor="let stateDet of masterList['stateList']" [value]="stateDet.id">{{ stateDet.title | uppercase }}</ng-option>

                                    </ng-select>
        
                                    <div *ngIf="f.state.touched && f.state.errors" class="invalid-feedback">
        
                                        <div *ngIf="f.state.errors.required">State is required</div>
        
                                    </div>
        
                                </div>

                            </div>

                            <div class="col-md-6 pe-2 pe-md-1">
    
                                <div class="form-group">

                                    <label for="city">City</label>

                                    <ng-select formControlName="city" [clearable]="false" placeholder="Select" class="form-control" [ngClass]="{ 'is-invalid': f.city.touched && f.city?.errors }"  [readonly]="_.size(masterList['cityList']) == 0">

                                        <ng-option *ngFor="let cityDet of masterList['cityList']" [value]="cityDet.id">{{ cityDet.title | uppercase }}</ng-option>

                                    </ng-select>
        
                                    <div *ngIf="f.city.touched && f.city.errors" class="invalid-feedback">
        
                                        <div *ngIf="f.city.errors.required">City is required</div>
        
                                    </div>
        
                                </div>                                

                            </div>   
    
                            <div class="col-md-6 ps-2 ps-md-1">
    
                                <div class="form-group">

                                    <label for="area">Area</label>

                                    <ng-select formControlName="area" [clearable]="false" placeholder="Select" class="form-control" [ngClass]="{ 'is-invalid': f.area?.touched && f.area?.errors }" [readonly]="_.size(masterList['areaList']) == 0">

                                        <ng-option *ngFor="let areaDet of masterList['areaList']" [value]="areaDet.id">{{ areaDet.title | uppercase }}</ng-option>

                                    </ng-select>                                        
        
        
                                    <div *ngIf="f.companyName?.touched && f.area.errors" class="invalid-feedback">
        
                                        <div *ngIf="f.area.errors.required">Area is required</div>
        
                                    </div>
        
                                </div>                                

                            </div> 
                            
                            <div class="col-sm-6">
    
                                <div class="form-group">
    
                                    <label for="zipcode">PINCODE *</label>
                    
                                    <input type="text" class="form-control form-control-lg" id="zipcode" formControlName="zipcode"  autocomplete="off" name="hidden" [ngClass]="{ 'is-invalid': formSubmitted && f.zipcode?.errors }">
                    
                                </div>
    
                            </div>
    
                        </div>
    
                    </div>

                </div>

                <div class="row px-4 pt-4">
        
                    <div class="col-sm-6 order-sm-first order-last mt-3 mt-sm-0">

                        <div class=" btn btn-block btn-lg w-100 btn-outline-primary" (click)="loadForm()">CLEAR</div>

                    </div>

                    <div class="col-sm-6">

                        <button class="btn btn-block btn-lg w-100 btn-primary" [disabled]="isLoading" (click)="submit()">

                            <ng-container *ngIf="!isLoading">SAVE</ng-container>
    
                            <div class="spinner-border text-white-50 mt-2" *ngIf="isLoading" role="status">
    
                                <span class="visually-hidden">Loading...</span>
    
                            </div>
    
                        </button>                         

                    </div>

                </div> 

            </div>

        </form>

    </div>
    
</div>
