::ng-deep .cdk-overlay-container {
    z-index:2000;
}

.product-image{
    width: 420px;
    height: 241px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    border-radius: 0.25rem;
    margin: 0 auto;
}


