<div class="usersList-container">

    <div class="container-fluid">
        
        <ng-container *ngIf="_.size(usersList) == 0;else userslist">
        
            <div class="empty-page">
    
                <div class="empty-content">
        
                    <h4 class="fw-600">LIST IS EMPTY</h4>
                
                    <div class="emptyIcon" style="background: url(./assets/images/empty-list.png);"></div>
                    
                    <button class="btn btn-md btn-primary bi bi-plus-lg" (click)="openAsideBar()"> 
                
                        <span class="ms-3" >Add New</span>
                    
                    </button>
                    
                </div>
    
            </div>
    
        </ng-container>
    
        <ng-template #userslist>
    
            <div class="container-fluid">
        
                <div class="d-flex justify-content-between">
                    
                    <div class="page-header">All Users</div>
                
                </div>
            
                <div class="row d-flex justify-content-between mt-2">
            
                    <div class="col-sm-12 col-md-3 mb-2">
            
                        <div class="input-group">
            
                            <span class="input-group-text ps-3 pe-3">
            
                                <i class="bi bi-search"></i>
            
                            </span>
            
                            <input type="text" class="form-control" placeholder="search for User by name">
            
                        </div>
            
                    </div>
            
                    <div class="col-sm-12 col-md-8 text-end mb-2">
            
                        <button class="btn btn-primary bi bi-plus-lg" (click)="openAsideBar()"> 
                
                            <span class="ms-3" >Add New</span>
                        
                        </button>
    
                    </div>
            
                </div>
    
                <div class="card border-0">
    
                    <div class="table-responsive">
                
                        <table class="table table-bordered bg-white" mat-table [dataSource]="usersList">
                
                            <ng-container matColumnDef="SL#" sticky>
                
                                <th mat-header-cell *matHeaderCellDef> SL#</th>
                  
                                <td mat-cell *matCellDef="let userDet; let index = index">
                
                                    {{ index + 1 }}   
                                  
                                </td>
                  
                              </ng-container>      
                              
                                <ng-container matColumnDef="NAME" sticky>
                    
                                    <th mat-header-cell *matHeaderCellDef> NAME</th>
                    
                                    <td mat-cell *matCellDef="let userDet">
                    
                                    {{ userDet?.name | uppercase }}
                    
                                    </td>
                
                                </ng-container>
                
                                <ng-container matColumnDef="EMAIL ID">
                    
                                    <th mat-header-cell *matHeaderCellDef> EMAIL ID</th>
                    
                                    <td mat-cell *matCellDef="let userDet">
                    
                                    {{ userDet?.email || '--Nil--'  }}
                    
                                    </td>
                
                                </ng-container>
                
                                <ng-container matColumnDef="USERNAME">
                    
                                    <th mat-header-cell *matHeaderCellDef> USERNAME</th>
                    
                                    <td mat-cell *matCellDef="let userDet">
                    
                                    {{ userDet?.userName || 'N/A'}}
                    
                                    </td>
                
                                </ng-container>
                
                                <ng-container matColumnDef="ROLE">
                    
                                    <th mat-header-cell *matHeaderCellDef> ROLE</th>
                    
                                    <td mat-cell *matCellDef="let userDet">
                    
                                    {{ userDet?.role?.roleName | uppercase }}
                    
                                    </td>
                
                                </ng-container>
                
                                <ng-container matColumnDef="MOBILE">
                    
                                    <th mat-header-cell *matHeaderCellDef> MOBILE</th>
                    
                                    <td mat-cell *matCellDef="let userDet">
                    
                                        {{ userDet.dialCode }} {{ userDet?.mobile }}
                    
                                    </td>
                
                                </ng-container>
                
                                <ng-container matColumnDef="STATUS">
                
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> STATUS</th>
                
                                    <td mat-cell *matCellDef="let userDet">
                                    
                                        <div class="form-check form-switch ps-0 w-100 justify-content-end flex-row-reverse d-flex">
                                        
                                            <label class="form-check-label text-dark ms-2" for="active"> {{ (userDet.is_active) ? 'Active' : 'In-Active' }} </label>
                                        
                                            <input class="form-check-input ms-0" type="checkbox" role="switch" id="active" [(ngModel)]="userDet['is_active']" [ngModelOptions]="{standalone: true}" (change)="updateUserAction(userDet)">
                                        
                                        </div>                        
                
                                    </td>
                
                                </ng-container>
                
                                <ng-container matColumnDef="ACTION" stickyEnd>
                
                                    <th mat-header-cell *matHeaderCellDef class="text-center"> ACTION</th>
                
                                    <td mat-cell *matCellDef="let userDet">
                                    
                                        <a class="text-primary d-flex align-items-center justify-content-center" (click)="openAsideBar(userDet)">
                                        
                                            <i class="bi bi-pencil-square me-2"></i> Update
                                        
                                        </a>                        
                
                                    </td>
                
                                </ng-container>
                              
                              <tr mat-header-row *matHeaderRowDef="tableColumns; sticky: true"></tr>
                
                              <tr mat-row *matRowDef="let row; columns: tableColumns;"></tr>              
                
                        </table>
                        
                    </div>
                
                </div>                   
            
            </div> 
    
        </ng-template>

    </div>

</div>

<asidebar #canvas [openCanvas]="openCanvas" title="Add New user" position="end" (onClose)="openCanvas = false" (onSubmit)="submit()">

    <div [formGroup]="addUserForm">

        <div class="form-group">

            <label for="name"> Name </label>
            
            <input type="text" class="form-control form-control-lg" id="name" formControlName="name" placeholder="Enter Name" [ngClass]="{ 'is-invalid': (formSubmitted || f.name.touched) && f.name.errors }">

            <div *ngIf="(formSubmitted || f.name.touched) && f.name.errors" class="invalid-feedback">
    
                <div *ngIf="f.name.errors.required">Name is required</div>

            </div>

        </div>
        
        <div class="form-group">

            <label for="email"> Email </label>
            
            <input type="email" class="form-control form-control-lg" id="email" formControlName="email" placeholder="Enter Email" [ngClass]="{ 'is-invalid': (formSubmitted || f.email.touched) && f.email.errors }">

            <div *ngIf="(formSubmitted || f.email.touched) && f.email.errors" class="invalid-feedback">
    
                <div *ngIf="f.email.errors.required">Email is required</div>

            </div>

        </div>

        <div class="form-group">

            <label for="userName"> User Name </label>
            
            <input type="userName" class="form-control form-control-lg" id="userName" formControlName="userName" placeholder="Enter User Name" [ngClass]="{ 'is-invalid': (formSubmitted || f.userName.touched) && f.userName.errors }">

            <div *ngIf="(formSubmitted || f.userName.touched) && f.userName.errors" class="invalid-feedback">
    
                <div *ngIf="f.userName.errors.required">User Name is required</div>

            </div>

        </div>

        <div class="form-group">

            <label for="mobile">Mobile Number</label>

            <div class="input-group">
            
                <div class="input-group-prepend me-1">
            
                    <ng-select formControlName="dialCode" [clearable]="false" placeholder="+91" class="form-control"
                        [ngClass]="{ 'is-invalid': (formSubmitted || f.dialCode.touched) && f.dialCode.errors }">
            
                        <ng-option *ngFor="let dialCodeDet of dialCodeList" [value]="dialCodeDet.dialCode">
            
                            <img class="country-flag" alt="{{ dialCodeDet.iso2 }}"
                                src="http://purecatamphetamine.github.io/country-flag-icons/3x2/{{ dialCodeDet['iso2'] }}.svg" /> {{
                            dialCodeDet.dialCode }}
            
                        </ng-option>
            
                    </ng-select>
            
                </div>
            
                <input type="text" class="form-control" id="mobile" formControlName="mobile" placeholder="Enter"
                    [ngClass]="{ 'is-invalid': (formSubmitted || f.mobile.touched) && f.mobile.errors }" numbersOnly maxlength="10">
            
                <div *ngIf="(formSubmitted || f.mobile.touched) && f.mobile.errors" class="invalid-feedback">
            
                    <div *ngIf="f.mobile.errors.required">Mobile number is required</div>
            
                </div>
            
            </div>

        </div>

        <div class="row">

            <div class="col-md-6">

                <div class="form-group">

                    <label for="role">Role</label>
                    
                    <ng-select formControlName="role" [clearable]="false" placeholder="Select Role" class="form-control" [ngClass]="{ 'is-invalid': (formSubmitted || f.role.touched) && f.role?.errors }">
                    
                        <ng-option *ngFor="let roleDet of masterList['roleList']" [value]="roleDet._id">{{ roleDet?.roleName | uppercase }}</ng-option>
                    
                    </ng-select>
                    
                    <div *ngIf="(formSubmitted || f.role.touched) && f.role.errors" class="invalid-feedback">
                    
                        <div *ngIf="f.role.errors.required">Role is required</div>
                    
                    </div>
                
                </div>
            
            </div>
        
            <div class="col-md-3">
            
                <div class="form-group">
            
                    <label for="status">Status</label>

                    <div class="form-check form-switch mt-2 ps-0 d-flex">
                                    
                        <label class="form-check-label text-dark" for="is_active"> Active </label>

                        <input class="form-check-input" role="switch" type="checkbox" id="is_active" formControlName="is_active">
                    
                    </div>
                    
                </div>
            
            </div>
        
        </div>

        <div class="form-group">

            <label for="profile">Profile</label>

            <input type="file" class="upload" style="display: none;" #fileInput formControlName="profile">

            <a class="align-items-center h5 border border-primary d-flex opacity-75 h5 justify-content-center py-3 rounded text-primary upload-img" (click)="fileInput.click()">
                                
                <i class="bi bi-file-earmark-plus fs-4"></i> 
                
                <span class="mx-1">Upload</span>  
            
           </a>            

        </div>

    </div>

</asidebar>

