<div class="dashboard-container">

    <div class="container-fluid">

        <div class="d-flex justify-content-between mb-4">

            <div class="page-header">Dashboard</div>

            <div class="text-end">

                <button class="btn btn-outline-primary bi bi-sliders"> 
                
                    <span class="ms-3">Filter</span>
                
                </button>

            </div>
        
        </div>

        <div class="alert">

            <div class="d-flex">

                <div class="circle"></div>
    
                <p class="mb-0 fw-600 text-light">Renewal payment pending</p>

            </div>

            <div class="d-flex">

                <a class="view-more">view more</a>
                
                <a class="btn-exit"> <i class="bi bi-x-lg rounded-pill"></i> </a> 

            </div>
                
                
        </div>

        <div class="row mt-5">

            <div class="col-xl-6">

                <div class="row">

                    <div class="col-sm-6">

                        <div class="orders-card">
        
                            <img src="/assets/images/dashbord/total-orders.png" class="w-fit-content mx-auto">
        
                            <h5 class="text-light fw-600 mt-3">Total Orders</h5>
        
                            <h2 class="fw-600">25</h2>
        
                        </div>
        
                    </div>
        
                    <div class="col-sm-6 mt-4 mt-sm-0">
        
                        <div class="orders-card">
        
                            <img src="/assets/images/dashbord/complete-order.png" class="w-fit-content mx-auto">
        
                            <h5 class="text-light fw-600 mt-3">Completed Orders</h5>
        
                            <h2 class="fw-600">12</h2>
        
                        </div>
        
                    </div>

                    <div class="col-12">

                        <div class="d-flex mt-5 justify-content-between align-items-center pe-3">
            
                            <h4 class="fw-600 mb-0 text-dark">New Orders</h4>
            
                            <a class="text-primary h6 mb-0 lh-base">See All</a>
            
                        </div>
                        
                        <div class="order-list-card" *ngFor="let orderDet of ordersList">
            
                            <div class="row">
    
                                <div class="col-md-5"> 
                                    
                                    <div class="d-flex align-items-center">
    
                                        <img class="user-img" [src]="orderDet.imgPath">
    
                                        <div class="ms-3">
                                            
                                            <span class="text-black fw-600 mb-0">{{orderDet.name}} </span> 
                                            
                                            <p class="text-light fw-600 small mb-0">{{orderDet.orderNum}}</p>
                                        
                                        </div>
    
                                    </div>
    
                                </div>
                                    
                                <div class="col-md-2 px-1 align-self-center text-center fw-600 text-black mt-3 mt-md-0"> 
                                    
                                    {{orderDet.date}} 
                                
                                </div>
                                    
                                <div class="col-md-2 px-1 align-self-center text-center fw-600 text-black mt-3 mt-md-0"> {{orderDet.online}} </div>
        
                                <div class="col-md-3 px-1 align-self-center fw-600 text-black mt-3 mt-md-0">
        
                                    <div class="status-card mx-auto text-primary fw-medium"> 
                                        
                                        <i class="tick bi bi-check-lg border-pill"></i>&nbsp; {{orderDet.Booking}} 
                                    
                                    </div>
        
                                </div>
        
                            </div>
            
                        </div>

                    </div>
        

                </div>              
                
            </div>

            <div class="col-xl-6">

                <div class="row"> 

                    <div class="col-sm-6">

                        <div class="orders-card border-0 mat-elevation-z3">

                            <h5 class="fw-700 text-start">Today's Pickup</h5>

                            <img class="my-2" src="/assets/images/dashbord/total-picup.png" height="120px">

                            <div class="p-3 rounded-3" style="background-color: #F3F5F9;">

                                <div class="text-primary d-flex justify-content-between align-items-center">
    
                                    <div class="d-flex">
    
                                        <i class="bi bi-journal-text"></i>
        
                                        <h6 class="fw-600 ms-2">Total</h6>
                                        
                                    </div>
    
                                    <h5 class="fw-700">23</h5>
    
                                </div>
    
                                <div class="text-primary d-flex justify-content-between align-items-center">
    
                                    <div class="d-flex">
    
                                        <i class="bi bi-journal-text"></i>
        
                                        <h6 class="fw-600 ms-2">Completed</h6>
                                        
                                    </div>
    
                                    <h5 class="fw-700">11</h5>
    
                                </div>
                                
                                <div class="text-primary d-flex justify-content-between align-items-center">
    
                                    <div class="d-flex">
    
                                        <i class="bi bi-journal-text"></i>
        
                                        <h6 class="fw-600 ms-2 mb-0">Pending</h6>
                                        
                                    </div>
    
                                    <h5 class="fw-700 mb-0">5</h5>
    
                                </div>                            

                            </div>

                        </div>

                    </div>

                    <div class="col-sm-6">

                        <div class="orders-card border-0 mat-elevation-z3">

                            <h5 class="fw-700 text-start">Today's Delivery</h5>

                            <img class="my-2" src="/assets/images/dashbord/today-delivery.png" height="120px">

                            <div class="p-3 rounded-3" style="background-color: #F3F5F9;">

                                <div class="text-primary d-flex justify-content-between align-items-center">
    
                                    <div class="d-flex">
    
                                        <i class="bi bi-journal-text"></i>
        
                                        <h6 class="fw-600 ms-2">Total</h6>
                                        
                                    </div>
    
                                    <h5 class="fw-700">23</h5>
    
                                </div>
    
                                <div class="text-primary d-flex justify-content-between align-items-center">
    
                                    <div class="d-flex">
    
                                        <i class="bi bi-journal-text"></i>
        
                                        <h6 class="fw-600 ms-2">Completed</h6>
                                        
                                    </div>
    
                                    <h5 class="fw-700">11</h5>
    
                                </div>
                                
                                <div class="text-primary d-flex justify-content-between align-items-center">
    
                                    <div class="d-flex">
    
                                        <i class="bi bi-journal-text"></i>
        
                                        <h6 class="fw-600 ms-2 mb-0">Pending</h6>
                                        
                                    </div>
    
                                    <h5 class="fw-700 mb-0">5</h5>
    
                                </div>                            

                            </div>

                        </div>

                    </div>

                    <div class="col-12">

                        <h4 class="fw-600 mt-5 text-dark">Check Status</h4>
    
                        <div class="card border-0 mat-elevation-z3 p-4">

                            <div class="d-flex flex-wrap flex-md-nowrap align-items-center justify-content-center">

                                <input class="status-code form-control form-control-lg mt-3 py-3" type="text" placeholder="Enter Ordre No">
    
                                <button class="btn btn-primary btn-lg rounded-3 py-3 ms-3 mt-3">Check</button>

                            </div>

                            <div class="card-body mt-4" style="background: #F3F5F9;">

                                <div class="row">

                                    <div class="col-6">

                                        <a class="text-dark fw-500">

                                            <i class="bi bi-journal-text text-primary me-2"></i> Order Details

                                        </a>

                                    </div>

                                    <div class="col-6">

                                        <a class="text-dark fw-500">

                                            <i class="bi bi-gear text-primary me-2"></i> Change

                                        </a>

                                    </div>

                                </div>

                            </div>
    
                        </div>

                    </div>


                </div>

            </div>

        </div>

    </div>

</div> 