.dashboard-container {

  .alert {
    border-radius: 15px;
    border: 2px dashed #395EA1;
    display: flex;
    justify-content: space-between;

    .view-more {
      background: #CED7E7;
      font-size: 0.75rem;
      padding: 0.25rem;
      margin: 0 0.5rem;
      color: #2B5298;
      cursor: pointer;
      border-radius: 0.25rem;
      font-weight: 500;
      
    }
  
    .btn-exit {
      width: 26px;
      height: 26px;
      border-radius: 100%;
      background-color: #F0B66F;
      color: #E18E53;
      padding: 2px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
    }    
  }

}