.dashboard-container {

  .alert {
    border-radius: 0.85rem;
    border: 2px dashed #395EA1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0.75rem;

    .view-more {
      background: #CED7E7;
      font-size: 0.75rem;
      padding: 0.25rem;
      margin: 0 0.5rem;
      color: #2B5298;
      cursor: pointer;
      border-radius: 0.25rem;
      font-weight: 500;
      text-wrap: nowrap;
      height: fit-content;
    }
  
    .btn-exit {
      width: 26px;
      height: 26px;
      border-radius: 100%;
      background-color: #F0B66F;
      color: #E18E53;
      padding: 2px;
      cursor: pointer;
      display: inline-block;
      text-align: center;
    }    

  }

  .orders-card {
    max-width: 270px;
    text-align: center;
    border: 2px dashed #395EA1;
    border-radius: 0.75rem;
    padding: 1.75rem 1.5rem;;
    background: #fff;
    margin: 0 auto;
  }

  .order-list-card{
    border-radius: 0.75rem;
    padding: 1.25rem 1.75rem;
    background: #fff;
    border-radius: 0.75rem;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 1rem;

    .user-img {
      width: fit-content;
      height: fit-content;
    }

    .status-card {
      width: fit-content;
      padding: 0.5rem;
      background: #e5ebf6;
      border-radius: 0.25rem;
      display: flex;
      align-items: center;

      i {
        background-color: #2B5298;
        height: 24px;
        width: 24px;
        border-radius: 100%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }

    }

  }

  .form-control {
    border: 2px dashed #395EA1;
  }

}