<div class="item-pricing-container">

    <div>

        <div class="row">
    
            <div class="col-md-2">
    
               <h5 class="my-0 py-0"> ITEMS PRICING</h5>
    
                <small >100 Product </small>
    
            </div>
    
            <div class="col-md-6">
    
                <div class="form-group">
    
                    <input type="text" class="form-control form-control-lg" placeholder="Search " >
    
                </div>
    
            </div>
    
            <div class="col-md-4">
    
                <select name="category" class="form-select form-select-lg" id="category">
    
                    <option> Shirt</option>
    
                    <option> Pant </option>
    
                </select>
    
            </div>
    
        </div>

        <div>

            <div class="row d-flex">

                <div class="col-md-3"  *ngFor="let item of clothesList">

                    <div class="card m-2">
        
                        <div class="card-body" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">     

                            <div class="bg-image" style="background: url('{{item.imgSrc}}');"></div>
                        
                            <div class="text-center mt-4 pe-auto">
                        
                                <p class="text-primary fw-bold " (click)="openAsideBar(item)">Pricing <i class="bi bi-pencil"></i></p>
                        
                            </div>
                        
                        </div>

                    </div>

                </div>


            </div>

        </div>

    </div>

</div>


<asidebar [openCanvas]="openCanvas" title="Update Pricing" position="end" [showCancelBtn]="true"   (onClose)="openCanvas = false">

    <div> 

        <small class="text-secondary">Product Info</small>

        <div class="row pb-4" style="border-bottom: 1px solid #EEE;">

            <div class="col-md-8 mt-4">

                <div class="d-flex">

                    <div class="aside-img" style="background: url('{{ editData?.imgSrc}}');"></div>

                    <div class="mx-3">
                        
                        <p class="my-0 py-0">Product Name</p>
                        
                        <small >Category</small>

                    </div>

                </div>

            </div>

            <div class="col-md-4 mt-3">

                <small>Type</small>

                <div class="d-flex justify-content-between mt-2">

                    <div class="btn-group btn-group role rounded" role="group" aria-label="Button group with nested dropdown">

                        <button type="button" class="btn  btn-grp" [ngClass]="{'active' : true}">Normal </button>

                        <button type="button" class="btn btn-grp">Urgent  </button>

                    </div>

                </div>

            </div>

        </div>

        <div class="mt-2">

            <small class="text-secondary pt-5">Price Info</small>

            <div class="row mt-3">

                <div class="col-md-1">   

                    <div>

                        <div class="icons" style="background: url('https://s3-alpha-sig.figma.com/img/c332/d58c/2f0692dd2e08fe6ad217be46c66a770c?Expires=1701648000&Signature=eAeX-~gdv1FaHeA6mK2-KrTdJcf46rONUulmWSed50nrCfnbYgXm0oCx4nbtXo1S3E7Vi7blhsW-VpOmHAL5IJXkEB6DMSDC2zr8IFWQW0iMjOK~PVGsvTu47fq8qQK-1AhBjxsvTF5D09Apa8OV8nWIkUTcjDL-43zYw5Rf1r1cjMVC0qqCPp04JBOeHsOuRZCw1wudRyNEXYyRf55LVRHnqgWKYVUzsegi~XwISjg3Kr8fniBxZyWla0awS7gtV9Px6vDXcIXmXWQH2mm2ENVSCgyKgxi~3jje8UqUPpm66-4Pr2QGuYx5uHa8xCsfJio2EODar7ZgjEz3Kdub0g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4  ');"></div>
    
                    </div>

                </div>

                <div class="col-md-3">

                    <small>Dry Clean</small>

                </div>


                <div class="col-md-3">

                    <small class="  border px-3  rounded">O.500 <span> BHD </span></small> 

                </div>

                <div class="col-md-5 ">

                    <div class="form-check form-switch">

                        <input type="checkbox" class="form-check-input" role="switch">

                    </div>

                </div>

            </div>

            <div class="row mt-3">

                <div class="col-md-1">   

                    <div>

                        <div class="icons" style="background: url('https://s3-alpha-sig.figma.com/img/b77f/3b0f/1c682bbaccf7e04d38e1152eb19b886c?Expires=1701648000&Signature=iGi4mG2xv-OVeLTvBn7HSNN4nlAcI-hUCSJNpnk~3NQLpMQgaLxIKgXN~dIda~RyjUdTGN0V5cg-yUx7978GH~q1HtcHpgBzeSR8VjVkBJ9oqy9rj45wojJ5saRT2301XxqJQO7od0CLRgS6DIWM1FcKGoKTvNkP3sZdm9pAuR06fCXAsERgrIzswiHngiYTWFBs5TaRtpQqvcCLiMGFM-Bo28VnRMVkK~So5iVRYsud6uj98X8AYPPg-gFICBRblmz~iyVHl4V3GTLd~yWGXdHZ6QZGoSKLOkeCmuFUQFB6NO3WOfQEanu4FcUt2WP~nY01NkuTmR5tbg~nn1RF1Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');"></div>
    
                    </div>

                </div>

                <div class="col-md-3">

                    <small>Wash + Iron</small>

                </div>


                <div class="col-md-3">

                    <small class="  border px-3  rounded">O.500 <span> BHD </span></small> 

                </div>

                <div class="col-md-5 ">

                    <div class="form-check form-switch">

                        <input type="checkbox" class="form-check-input" role="switch">

                    </div>

                </div>

            </div>

            <div class="row mt-3">

                <div class="col-md-1">   

                    <div>

                        <div class="icons" style="background: url('https://s3-alpha-sig.figma.com/img/a664/a199/a0a933693a1802570538ed625cb727c3?Expires=1701648000&Signature=OYIUeZNwSev7ufys7n2DfTaD6a4-bQpLd~i4Wao8~FLZD5VfHkq4riqa9WIdzkA6RRA-Od306HFJATBQPUHk-cWkoEi5wC~KANtDDbWkzeKjWS6h3EZxls974JGoj83afMjE2xdGK6ooagLWBRifl16WywRV4hTWpuCM9vQ6gW8GeTDBvapNUY2GHGSST3osQpf1rnIgZL7QGNrNjBGrO9l9SZvRjpL5t7~LBXPnNdgzplPYMpwHlefr5ecBv-a8PSXqI6hpQXZ1gU~~0a3cock5fDTfNe-9-V6IaVlJO6HMS~AA8QMLufvm~o~4EyebJTqRJVKpbNWITFs~2wIS2w__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');"></div>
    
                    </div>

                </div>

                <div class="col-md-3">

                    <small>Ironing </small>

                </div>


                <div class="col-md-3">

                    <small class="  border px-3  rounded">O.500 <span> BHD </span></small> 

                </div>

                <div class="col-md-5 ">

                    <div class="form-check form-switch">

                        <input type="checkbox" class="form-check-input" role="switch">

                    </div>

                </div>

            </div>

        </div>


    </div>

</asidebar>
