
.bg-image {
    width: 100%;
    height: 100%;
    min-height: 119px;
    max-width: 119px;    
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.aside-img{
    width: 100%;
    height: 100%;
    min-height:68px;
    max-width: 69px;    
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.btn-grp{

    border: 1px solid #EEE;
    background-color: white;
    color:#4C4D52;
    font-size: 12px;
    min-width: 84px;
    // background-color: #EBEEF6;


}

.btn-grp.active {

    border: 1px solid #EEE;
    background-color: #EBEEF6;
    color: #285198;
    font-size: 12px;
}

.icons{

    width: 100%;
    height: 100%;
    min-height:26px;
    max-width: 34px;    
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;

}
  