<div class="header">

    <div class="container">

        <div class="row">

            <div class="col-md-3 text-center text-md-start align-self-center">

                <img src="assets/images/logo.png" alt="logo" class="logo" width="100px">

            </div>

            <div class="col-md-9 align-self-center">

                <div class="d-flex justify-content-center justify-content-md-end align-items-center flex-wrap">
    
                    <button class="btn btn-lg btn-outline-primary mx-1">Login as a partner</button>
    
                    <button class="btn btn-lg btn-primary mx-1">Download App</button>
    
                </div>

            </div>

        </div>

    </div>

</div>

<section class="hero-section">

    <div class="container">

        <div class="row">

            <div class="col-lg-7 align-self-center order-last order-lg-first">

                <div class="banner-content">

                    <h1 class="fw-bold lh-base">Join FLexiclean Today !</h1>

                    <h1 class="fw-bold lh-base">Connect with Customers !</h1>
    
                    <div class="d-flex align-items-center flex-wrap mt-4">
        
                        <button class="btn btn-lg btn-primary mx-1">Download App</button>
    
                        <button class="btn btn-lg btn-outline-primary mx-1">Request Demo</button>
        
        
                    </div>    

                </div>            

            </div>

            <div class="col-lg-5 text-end mb-5">

                <img src="assets/images/home/banner-img.png" alt="" srcset="" class="w-100">

            </div>

        </div>

    </div>

</section>

<section class="business-features-section">

    <div class="container mt-5 mb-3">

        <h1 class="fw-600 text-center"> Business Features </h1>

        <div class="row mt-5 justify-content-around">

            <div class="col-xl-3 col-lg-4 col-md-6">

                <div class="card business-card">

                    <div class="img-container">

                        <img src="assets/images/business-features-1.png" alt="" width="75px" srcset="">

                    </div>

                    <h5 class="text-center text-primary fw-600"> Work at your Convenience </h5>

                    <p class="card-content">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidunt interdum, ex nunc consequat mi, vitae vulputate

                    </p>

                </div>

            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">

                <div class="card business-card">

                    <div class="img-container">

                        <img src="assets/images/business-features-2.png" alt="" width="75px" srcset="">

                    </div>

                    <h5 class="text-center text-primary fw-600"> New & Current Customers </h5>

                    <p class="card-content">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidunt interdum, ex nunc consequat mi, vitae vulputate

                    </p>

                </div>                

            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">

                <div class="card business-card">

                    <div class="img-container">

                        <img src="assets/images/business-features-3.png" alt="" width="75px" srcset="">

                    </div>

                    <h5 class="text-center text-primary fw-600"> Revenue Model </h5>

                    <p class="card-content">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidunt interdum, ex nunc consequat mi, vitae vulputate

                    </p>

                </div>                

            </div>            

        </div>

    </div>

</section>

<section class="partner-solution-section">

    <div class="container mt-5 mb-3">

        <h1 class="fw-600 text-center mb-5"> Partner solutions </h1>

        <div class="row">

            <div class="col-xl-8 col-lg-7 p-5 align-self-center mb-5 order-last order-lg-first">

                <h3 class="text-primary fw-600"> New & Current Customers </h3>

                <h4 class="lh-lg">

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidunt interdum, ex nunc consequat mi, vitae vulputate

                </h4>

            </div>

            <div class="col-xl-4 col-lg-5 mb-5">

                <img src="assets/images/shop-img.png" alt="" class="mw-100">

            </div>

        </div>

        <div class="row mt-0 mt-lg-5">

            <div class="col-xl-4 col-lg-5 mb-5">

                <img src="assets/images/delivery-img.png" alt="" class="mw-100">

            </div>            

            <div class="col-xl-8 col-lg-7 p-5 align-self-center mb-5">

                <h3 class="text-primary fw-600"> New & Current Customers </h3>

                <h4 class="lh-lg">

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidunt interdum, ex nunc consequat mi, vitae vulputate

                </h4>

            </div>

        </div>

        <div class="row mt-0 mt-lg-5">

            <div class="col-xl-8 col-lg-7 p-5 align-self-center mb-5 order-last order-lg-first">

                <h3 class="text-primary fw-600"> Add a point of sale </h3>

                <h4 class="lh-lg">

                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidunt interdum, ex nunc consequat mi, vitae vulputate

                </h4>

            </div>

            <div class="col-xl-4 col-lg-5 mb-5">

                <img src="assets/images/pos-img.png" alt="" class="mw-100">

            </div>

        </div>        

    </div>

</section>

<section class="commitment-section">

    <div class="container mt-5 mb-3">

        <h1 class="fw-600 text-center mb-5"> Our Commitment to Help you Grow </h1>

        <div class="row">

            <div class="col-xl-7 col-lg-6 text-center mt-5">
    
                <img src="assets/images/support-img.png" alt="" class="mw-100 mt-5">
    
            </div>
    
            <div class="col-xl-5 col-lg-6 mt-5">
    
                <div class="card py-3 px-5">

                    <h4 class="text-primary fw-600"> Account Manager </h4>

                    <h5 class="lh-lg">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidun

                    </h5>

                </div>

                <div class="card py-3 px-5">

                    <h4 class="text-primary fw-600"> Staff Training </h4>

                    <h5 class="lh-lg">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidun

                    </h5>                

                </div>
                
                <div class="card py-3 px-5">

                    <h4 class="text-primary fw-600"> Performance reviews </h4>

                    <h5 class="lh-lg">

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tristique, lacus nec tincidun

                    </h5>

                </div>

            </div>
    
        </div>        

    </div>

</section>

<section class="footer-section">

    <div class="container">

        <div class="row">

            <div class="col-md-2 text-center text-md-start mb-4 mb-md-0 align-self-center">

                <img src="assets/images/logo.png" alt="" class="logo">

            </div>

            <div class="col-md-2 col-sm-4 mb-3 mb-sm-0 px-1 align-self-center text-center">

                <a class="text-center text-white">Features</a>

            </div>

            <div class="col-md-2 col-sm-4 mb-3 mb-sm-0 px-1 align-self-center text-center">

                <a class="text-center text-white">Features</a>

            </div>

            <div class="col-md-2 col-sm-4 mb-3 mb-sm-0 px-1 align-self-center text-center">

                <a class="text-center text-white">Request Demo</a>

            </div>

            <div class="col-md-4 text-center my-4 mb-my-0 align-self-center">

                <div class="text-center text-md-end">
                    
                    <a href="https://www.twitter.com" target="_blank" class="social-button">
                        
                        <i class="fab fa-x-twitter"></i>
                    
                    </a>
                        
                    <a href="https://www.facebook.com" target="_blank" class="social-button">
                        
                        <i class="fab fa-facebook-f"></i>
                    
                    </a>
                    
                    <a href="https://www.linkedin.com" target="_blank" class="social-button">
                        
                        <i class="fab fa-linkedin"></i>
                    
                    </a>
                
                </div>


            </div>

        </div>

        <div class="divider"></div>

        <p class="mt-4 text-white small text-center">@2022 flexiclean All rights reserved</p>

    </div>

</section>