<div class="auth-page">

    <div class="container min-vh-100">

        <div class="row min-vh-100">

            <div class="col-lg-6 d-flex align-self-center justify-content-center d-none d-lg-flex ">

                <img src="assets/images/home/banner-img.png" alt="" class="mw-100">

            </div>

            <div class="col-lg-6 d-flex justify-content-center align-self-center px-4 px-lg-0 ps-lg-5 mb-0 mb-lg-5">

                <div class="login-card">

                    <div class="img-container text-center mb-5">
    
                        <a routerLink="/home">

                            <img src="assets/images/logo.png" alt="">
                            
                        </a>
        
                    </div>
                    
                    <h2 class="fw-700">Signup</h2>

                    <h5 class="text-light">Login as a partner! Please  enter your details</h5>

                    <form [formGroup]="registerForm" class="py-4">

                        <div class="form-group">

                            <label for="name" class="fw-600">Name</label>

                            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Enter your name" [ngClass]="{ 'is-invalid': (formSubmitted || f.name.touched) && f.name.errors }">

                            <div *ngIf="(formSubmitted || f.name.touched) && f.name.errors" class="invalid-feedback">

                                <div *ngIf="f.email.errors.required">Name is required</div>

                            </div>

                        </div>                        

                        <div class="form-group">

                            <label for="email" class="fw-600">Email</label>

                            <input type="text" class="form-control" id="email" formControlName="email" placeholder="Enter your email" [ngClass]="{ 'is-invalid': (formSubmitted || f.email.touched) && f.email.errors }">

                            <div *ngIf="(formSubmitted || f.email.touched) && f.email.errors" class="invalid-feedback">

                                <div *ngIf="f.email.errors.required && !f.email.errors.email">Email is required</div>

                                <div *ngIf="f.email.errors.email && !f.email.errors.required">Email must be a valid email address</div>

                            </div>

                        </div>

                        <div class="form-group">

                            <label for="mobile" class="fw-600">Mobile Number</label>

                            <div class="input-group">

                                <div class="input-group-prepend me-1">
    
                                    <ng-select formControlName="dialCode" [clearable]="false" placeholder="+91" class="form-control" [ngClass]="{ 'is-invalid': (formSubmitted || f.dialCode.touched) && f.dialCode.errors }">

                                        <ng-option *ngFor="let dialCodeDet of dialCodeList" [value]="dialCodeDet.dialCode">
                                            
                                            <img class="country-flag" alt="{{ dialCodeDet.iso2 }}" src="http://purecatamphetamine.github.io/country-flag-icons/3x2/{{ dialCodeDet['iso2'] }}.svg"/> {{ dialCodeDet.dialCode }}
                                    
                                        </ng-option>

                                    </ng-select>
    
                                </div>
    
                                <input type="text" class="form-control" id="mobile" formControlName="mobile" placeholder="Enter" [ngClass]="{ 'is-invalid': (formSubmitted || f.mobile.touched) && f.mobile.errors }" numbersOnly maxlength="10">
    
                                <div *ngIf="(formSubmitted || f.mobile.touched) && f.mobile.errors" class="invalid-feedback">
    
                                    <div *ngIf="f.mobile.errors.required">Mobile number is required</div>
    
                                </div>

                            </div>

                        </div>

                        <div class="form-group">

                            <label for="password" class="fw-600">Password</label>

                            <div class="password-input-group">

                                <input type="password" class="form-control" id="password" #password formControlName="password" placeholder="Enter" [ngClass]="{ 'is-invalid': (formSubmitted || f.password.touched) && f.password.errors }" maxlength="15">

                                <i class="bi" [ngClass]="password.type == 'text' ? 'bi-eye' : 'bi-eye-slash'" (click)="password.type = password.type == 'text' ? 'password' : 'text'"></i>

                            </div>                              

                            <div *ngIf="(formSubmitted ||  f.password.touched) && f.password.errors" class="invalid-feedback d-block">

                                <div *ngIf="_.keys(f.password.errors).length == 1 && f.password.errors.required">Password is required</div>

                                <div *ngIf="_.keys(f.password.errors).length == 1 && f.password.errors.minlength">Password must be at least 8 characters</div>

                            </div>

                        </div> 

                        <div class="form-group">

                            <label for="confirmPassword" class="fw-600">Confirm Password</label>

                            <div class="password-input-group">

                                <input type="password" class="form-control" #confirmPassword id="confirmPassword" formControlName="confirmPassword" placeholder="Enter" [ngClass]="{ 'is-invalid': (formSubmitted || f.confirmPassword.touched) && f.confirmPassword.errors }"  maxlength="15">

                                <i class="bi" [ngClass]="confirmPassword.type == 'text' ? 'bi-eye' : 'bi-eye-slash'" (click)="confirmPassword.type = confirmPassword.type == 'text' ? 'password' : 'text'"></i>

                            </div>                            

                            <div *ngIf="(formSubmitted || f.confirmPassword.touched) && f.confirmPassword.errors" class="invalid-feedback d-block">

                                <div *ngIf="_.keys(f.confirmPassword.errors).length == 1 && f.confirmPassword.errors.required">Confirm password is required</div>
        
                                <div *ngIf="_.keys(f.confirmPassword.errors).length == 1 && f.confirmPassword.errors.confirmedValidator">Passwords do not match.</div>

                            </div>

                        </div> 

                        <div class="form-group mb-1">

                            <label for="service" class="fw-600">Services</label>

                        </div>  

                        <div class="d-flex mb-3">                          

                            <div class="form-check">

                                <input class="form-check-input" type="checkbox" id="pos" formControlName="pos">

                                <label for="pos" class="form-check-label">POS</label>

                            </div>   
                            
                            <div class="form-check ms-4">

                                <input class="form-check-input" type="checkbox" id="online" formControlName="online" (change)="registerForm.patchValue({ 'logisticss': f.online.value })">

                                <label for="online" class="form-check-label">Online</label>

                            </div>  

                        </div>

                        <div class="form-check form-switch ps-0 w-fit-content">

                            <label class="form-check-label text-dark" for="logistics">
                                
                                Flexi Clean logistics

                            </label>
                            
                            <input class="form-check-input" type="checkbox" role="switch" id="logistics"  formControlName="logistics">

                            <div class="d-flex">

                                <div class="position-relative d-flex justify-content-center ms-0 ms-lg-3">

                                    <img src="assets/images/subscription-rectangle.png" alt="">

                                    <p class="small mb-0 position-absolute" style="top: 20px"> Commission will vary if enabled </p>                                        

                                </div>  

                            </div>                            

                        </div>
                        
                        <button class="btn btn-primary btn-lg w-100 mt-4" [disabled]="(formSubmitted && registerForm.invalid) || isLoading" (click)="submit()">
                            
                            <ng-container *ngIf="!isLoading">SUBMIT</ng-container>

                            <div class="spinner-border text-white-50" *ngIf="isLoading" role="status">

                                <span class="visually-hidden">Loading...</span>

                            </div>                            
                        
                        </button>

                    </form>

                </div>

            </div>                

        </div>

    </div>

</div>